<template>

<div class="br-pagebody m-0 p-0">
    <div class="br-section-wrapper">
        <div class="load-wraper" v-if="isLoading">
            <loader id="loader" :color="'rgb(29 41 57)'" ></loader>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="new-income-tab" data-toggle="tab" href="#new-income" role="tab" aria-controls="new-income" aria-selected="true">Income By Date</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="income-this-month-tab" data-toggle="tab" href="#income-this-month" role="tab" aria-controls="income-this-month" aria-selected="false">This Month</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="payroll-by-month-tab" data-toggle="tab" href="#payroll-by-month" role="tab" aria-controls="payroll-by-month" aria-selected="false">Income By Month</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="new-income" role="tabpanel" aria-labelledby="contact-tab">
             <income-by-date :types="types"></income-by-date>
          </div>
          <div class="tab-pane fade " id="income-this-month" role="tabpanel" aria-labelledby="income-this-month">
             <income-this-month :types="types"></income-this-month>
          </div>
          <div class="tab-pane fade " id="payroll-by-month" role="tabpanel" aria-labelledby="payroll-by-month-tab">
             <income-by-month :types="types"></income-by-month>
          </div>
        </div>
    </div>
  </div>
</template>


<script>
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'
import { SpinnerLoader } from 'vue-spinners-css';
import IncomeByDate from './IncomeByDate'
import IncomeThisManth from './IncomeThisManth'
import IncomeByManth from './IncomeByManth.vue'
    export default {
      components:{
            'loader':SpinnerLoader,
            'income-by-date':IncomeByDate,
            'income-this-month':IncomeThisManth,
            'income-by-month':IncomeByManth,
        },
        data: function () {
            return {
                loading: true,
                file: '',
                isLoading: true,
            }
        },
        props: ['types'],
        watch: {

        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
        },
        mounted() {
            this.isLoading = false;
        },
        methods: {
            
        }
    }
</script>