<template>  
  
      <div  class="table-wrapper">
        <table class="table display responsive nowrap datatable">
              <thead>
                <tr>
                  <th class="text-center">Sl</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Category</th>
                  <th class="text-center">Amount</th>
                  <th class="text-center">Date</th>
                  <!-- <th class="text-center">Status</th> -->
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                
                <tr v-for="(income , index) in incomes" :id="'data'+income.id">
                  <th scope="row">{{ index +1 }}</th>
                  <th class="text-center">{{ income.name }}</th>
                  <th class="text-left">{{ income.category.name }}</th>
                  <th class="text-center">{{ income.amount }}</th>
                  <th class="text-center">{{ income.date | moment("D-MMMM-YYYY") }}</th>
              <!-- <td>
                  <a v-if="income.status ==1" href="javascript:viod(0)" @click="changeStatusOpen(income)"  class="btn btn-success btn-sm ml-2">Approved</a>
                  <a v-if="income.status ==0||income.status ==null" href="javascript:viod(0)" @click="changeStatusOpen(income)"  class="btn btn-warning btn-sm ml-2">Panding</a>
                  <a v-if="income.status ==2" href="javascript:viod(0)" @click="changeStatusOpen(income)"  class="btn btn-danger btn-sm ml-2">Declined</a>
              </td> -->
                  <td class="text-center">
                    <div class="btn-group">
                      <a :href="'/admin/incomes/edit/'+income.id"  class="btn btn-secondary btn-sm">Edit</a>
                      <a v-if="income.status ==0||income.status ==null||income.status ==2 || $role == 'super-admin' "  href="javascript:viod(0)" @click="deleteData(income,index)"  class="btn btn-warning btn-sm">Delete</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

        <div class="modal" tabindex="-1" role="dialog" id="change-status">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form @submit.prevent="statusSave()">
            <div class="modal-header">
              <h5 class="modal-title">Change Status</h5>
              <button type="button" class="close" @click="changeStatusClose()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <select v-model="status" name="status" id="status" class="form-control">
                <option value="0">Panding</option>
                <option value="1">Approved</option>
                <option value="2">Declined</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
              <button type="button" @click="changeStatusClose()" class="btn btn-secondary">Close</button>
            </div>
              
            </form>
          </div>
        </div>
      </div>

      </div>
</template>


<script>
    export default {
      components:{},
        mounted() {

        },
        props: ['incomes'],
        data: function () {
            return {
                status: null,
                data: null,
            }
        },
        mounted() {
             
        },

        methods:{

            changeStatusOpen: function (data, index) {
              if(this.$role == 'super-admin'){
                this.status = data.status;
                this.data = data;
                $('#change-status').modal();
              }               
             },
            changeStatusClose: function () {
               if(this.$role == 'super-admin'){
                 this.status = null; 
                 this.data = null; 
                 $('#change-status').modal('hide');
               }
             },
            statusSave: function () {
               if(this.$role == 'super-admin'){
                 axios.post('/admin/incomes/status/'+this.data.id,{
                  'status':this.status
                 })
                .then((response) => {                  
                  if (response.status == 202) {
                     this.status = null; 
                     this.data = null;
                      this.$toaster.success(response.data.message)
                      this.$eventBus.$emit('reload');
                      $('#change-status').modal('hide');  
                  }else {
                    this.$toaster.warning(response.data)  
                  }
                    
                })
               }
             },
            deleteData: function (income, index) {
               
               this.$swal({
                    title: 'Are you sure you want to delete '+income.income_code+'?',
                    text: "If you delete this, it will be gone forever.",
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                })
                .then((result) => {
                  if (result.value) {
                    if (result.isConfirmed){
                      this.deleteincome(income, index);
                    }
                  }

                });
            },

            deleteincome: function (income, index) {
                axios.post('/admin/incomes/destroy/'+income.id)
                .then((response) => {
                    console.log(response.data);
                  
                  if (response.status == 202) {
                    this.$eventBus.$emit('reload');
                        document.getElementById('data'+income.id).style.display = "none";
                      this.$swal({
                        title: 'Success!',
                        text: response.data.data,
                        icon: 'success',
                        //confirmButtonText: 'Cool'
                      });
                        this.errors = {};
                    }else{
                        this.$swal({
                          title: 'Error!',
                          text: response.data,
                          icon: 'error',
                        });
                    }
                    
                })
                .catch(error => {
                    this.errors = error.response.data.errors;
                    this.$swal({
                          title: 'error!',
                          text: error.response.data.message,
                          icon: 'error',
                          //confirmButtonText: 'Cool'
                        });
                   
                 });
            },
      }
    }
</script>