<template>  
  
      <div  class="table-wrapper">
        <table class="table mg-b-0">
        <thead class="bg-info text-white">
          <tr>
            <th>ID</th>
            <th>Supplier</th>
            <th>Item</th>
            <th>Total</th>
            <th>Paid</th>
            <th>Due</th>
            <th>Date</th>
            <th>Status</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
      <tr v-for="(purchase, index) in purchases" v-bind:id="'data'+purchase.id">
          <th scope="row">{{ index +1 }}</th>
              <td>{{ purchase.supplier.name }}</td>
              <td>{{ purchase.items_count }}</td>
              <td>{{  Number(purchase.total).toFixed(2) }}</td>
              <td>{{ purchase.paid !=0 ? Number(purchase.paid).toFixed(2) : '-' }}</td>
              <td>{{ purchase.due !=0 ? Number(purchase.due).toFixed(2) : '-' }}</td>
              <td>{{ purchase.date | moment("DD-MMM-YYYY") }} </td>
              <td>
                  <a v-if="purchase.status ==1" href="javascript:viod(0)" @click="changeStatusOpen(purchase)"  class="btn btn-success btn-sm ml-2">Approved</a>
                  <a v-if="purchase.status ==0||purchase.status ==null" href="javascript:viod(0)" @click="changeStatusOpen(purchase)"  class="btn btn-warning btn-sm ml-2">Panding</a>
                  <a v-if="purchase.status ==2" href="javascript:viod(0)" @click="changeStatusOpen(purchase)"  class="btn btn-danger btn-sm ml-2">Declined</a>
              </td>
          <td class="text-center">            
                <div class="btn-group">


                    <a  :href="'/admin/purchases/edit/'+purchase.id" class="btn btn-secondary btn-sm">Edit</a>

                    <a v-if="purchase.status ==0||purchase.status ==null||purchase.status ==2 || $role == 'super-admin' " href="javascript:viod()"  class="btn btn-warning btn-sm" @click.prevent="deleteData(purchase, index)">Delete</a>
                </div>
          </td>
        </tr> 
        </tbody>
    </table> 

        <div class="modal" tabindex="-1" role="dialog" id="change-status">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form @submit.prevent="statusSave()">
            <div class="modal-header">
              <h5 class="modal-title">Change Status</h5>
              <button type="button" class="close" @click="changeStatusClose()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <select v-model="status" name="status" id="status" class="form-control">
                <option value="0">Panding</option>
                <option value="1">Approved</option>
                <option value="2">Declined</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
              <button type="button" @click="changeStatusClose()" class="btn btn-secondary">Close</button>
            </div>
              
            </form>
          </div>
        </div>
      </div>
      </div>
</template>


<script>
    export default {
      components:{},
        mounted() {

        },
        props: ['purchases'],
        data: function () {
            return {
                status: null,
                data: null,
            }
        },
        mounted() {
             
        },
        methods:{

            changeStatusOpen: function (data, index) {
              if(this.$role == 'super-admin'){
                this.status = data.status;
                this.data = data;
                $('#change-status').modal();
              }               
             },
            changeStatusClose: function () {
               if(this.$role == 'super-admin'){
                 this.status = null; 
                 this.data = null; 
                 $('#change-status').modal('hide');
               }
             },
            statusSave: function () {
               if(this.$role == 'super-admin'){
                this.$eventBus.$emit('loader', false);
                 axios.post('/admin/purchases/status/'+this.data.id,{
                  'status':this.status
                 })
                .then((response) => {                  
                  if (response.status == 202) {
                     this.status = null; 
                     this.data = null; 
                      this.$toaster.success(response.data.message)
                      $('#change-status').modal('hide');
                      this.$eventBus.$emit('reload');
                      this.$eventBus.$emit('loader', false);
                  }else {
                    this.$toaster.warning(response.data)  
                  }
                    
                })
               }
             },
            deleteData: function (purchase, index) {
               
               this.$swal({
                    title: 'Are you sure you want to delete '+purchase.invoice_id+'?',
                    text: "If you delete this, it will be gone forever.",
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                })
                .then((result) => {
                  if (result.value) {
                    if (result.isConfirmed){
                      this.deletepurchase(purchase, index);
                    }
                  }

                });
            },

            deletepurchase: function (purchase, index) {
                axios.post('/admin/purchases/destroy/'+purchase.id)
                .then((response) => {
                    console.log(response.data);
                  
                  if (response.status == 202) {
                        document.getElementById('data'+purchase.id).style.display = "none";
                        this.$eventBus.$emit('reload');
                      this.$swal({
                        title: 'Success!',
                        text: response.data.data,
                        icon: 'success',
                        //confirmButtonText: 'Cool'
                      });
                        this.errors = {};
                    }else{
                        this.$swal({
                          title: 'Error!',
                          text: response.data,
                          icon: 'error',
                        });
                    }
                    
                })
                .catch(error => {
                    this.errors = error.response.data.errors;
                    this.$swal({
                          title: 'error!',
                          text: error.response.data.message,
                          icon: 'error',
                          //confirmButtonText: 'Cool'
                        });
                   
                 });
            },
      }
    }
</script>