<template>

<div class="br-pagebody m-0 p-0">
    <div class="br-section-wrapper">
        <div class="load-wraper" v-if="isLoading">
            <loader id="loader" :color="'rgb(29 41 57)'" ></loader>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="new-purchase-tab" data-toggle="tab" href="#new-purchase" role="tab" aria-controls="new-purchase" aria-selected="true">Purchase By Date</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="purchase-this-month-tab" data-toggle="tab" href="#purchase-this-month" role="tab" aria-controls="purchase-this-month" aria-selected="false">This Month</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="payroll-by-month-tab" data-toggle="tab" href="#payroll-by-month" role="tab" aria-controls="payroll-by-month" aria-selected="false">Purchase By Month</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link bg-info" style="color: #fff;" aria-selected="false"  href="/admin/purchases/create">Add New</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="new-purchase" role="tabpanel" aria-labelledby="contact-tab">
             <purchase-by-date ></purchase-by-date>
          </div>
          <div class="tab-pane fade " id="purchase-this-month" role="tabpanel" aria-labelledby="purchase-this-month">
             <purchase-this-month ></purchase-this-month>
          </div>
          <div class="tab-pane fade " id="payroll-by-month" role="tabpanel" aria-labelledby="payroll-by-month-tab">
             <purchase-by-month ></purchase-by-month>
          </div>
        </div>
    </div>
  </div>
</template>


<script>
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'
import { SpinnerLoader } from 'vue-spinners-css';
import PurchaseByDate from './PurchaseByDate'
import PurchaseThisManth from './PurchaseThisManth'
import PurchaseByManth from './PurchaseByManth.vue'
    export default {
      components:{
            'loader':SpinnerLoader,
            'purchase-by-date':PurchaseByDate,
            'purchase-this-month':PurchaseThisManth,
            'purchase-by-month':PurchaseByManth,
        },
        data: function () {
            return {
                loading: true,
                file: '',
                isLoading: true,
            }
        },
        watch: {

        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
        },
        mounted() {
            this.isLoading = false;
        },
        methods: {
            
        }
    }
</script>