<template>
  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <input type="text" readonly class="form-control" v-model="product.name">
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <input type="number" class="form-control" name="price" v-model="product.price" min="0" step="any" readonly>
      </div>
    </div>
    <div class="col-1">
      <div class="form-group">
        <input type="text" class="form-control" name="unit" v-model="product.unit" readonly>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <input type="number" class="form-control" name="quantity" v-model="product.quantity" min="0" step="any">
      </div>
    </div>
    <!-- <div class="col-2">
      <div class="form-group">
        <input type="number" class="form-control" name="discount" v-model="product.discount">
      </div>
    </div>   -->
    <div class="col-2">
      <div class="form-group">
        <input type="number" class="form-control" name="total" v-model="product.total" step="2" >
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
      	<div class="btn-group" role="group" aria-label="Basic example">
      		<button type="button" @click.prevent="removeItem(product.id)" class="btn btn-sm btn-warning">Delete</button>
		</div>      	
      </div>
    </div>
  </div>
</template>

<script>

  export default{
    components:{

    },
    data: function(){
      return {   
      }
    },
    props: ['product'],
    mounted(){
    },
    created() {
      // this.$eventBus.$on('item-added', (data)=>{
      //   this.$set(this.products, data.id, data)
      // });
    },   
    watch: {
       product: {
            handler: function () {                
                this.calPrice()
                //this.calTotal() 
            },
            deep: true
        }
    },
    methods:{
      removeItem: function(data){
        this.$eventBus.$emit('item-removed', data);
      },
      calPrice: function(){
        let price =  Number(this.product.total) / Number(this.product.quantity);
        this.product.price = Number(price).toFixed(2);
      },
      calTotal: function(){
        this.product.total = Number(this.product.price * this.product.quantity - this.product.discount).toFixed(2);
      },
      ObjectLength: function (object ) {
        var length = 0;
        for( var key in object ) {
          if( object.hasOwnProperty(key) ) {
            ++length;
          }
        }
        return length;
      },
    }
  }
</script>
<style>
.form-group .btn-group{
	margin: 10px 10px;	
}
</style>