<template>

<div class="row">
  <div class="col-md-4 offset-md-3">
    <div class="form-group">
      <label class="form-control-label">Date</label>
      <input type="date" class="form-control" v-model="date">
    </div>
  </div>
  <div class="col-md-12">
    
    <div class="bd bd-gray-300 rounded table-responsive">
      <table class="table mg-b-0">
            <thead class="bg-info text-white">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Check In</th>
                <th>Check Out</th>
                <!-- <th class="text-center">Action</th> -->
              </tr>
            </thead>
            <tbody>
          <tr v-for="(employee, index) in attendances"  v-bind:id="'data'+employee.id">
              <th scope="row">{{ employee.id }}</th>
              <td>{{ employee.name }}</td>
                  <td v-if="employee.leave" colspan="2">Leave({{ employee.leave.reason }})</td>
                  <td v-if="employee.leave == null">
                    <p v-if="employee.start_time !=null">{{   employee.start_time  | moment("hh:mm A") }} <button class="btn-sm btn-success"><i class="fa fa-check" aria-hidden="true"></i></button> </p>
                    <p v-else>-</p>
                  </td>
                  <td v-if="employee.leave == null">
                    <p v-if="employee.end_time !=null">{{ employee.end_time | moment("hh:mm A") }} 
                      <button class="btn-sm btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>
                    </p>
                    <p v-else>-</p>
                  </td>
              <!-- <td class="text-center">            
                    <div class="btn-group">
                        <a  v-bind:href="'/admin/tables/edit/'+employee.id"class="btn btn-secondary btn-sm">Edit</a>
                            <a href="javascript:viod()"  class="btn btn-warning btn-sm" @click.prevent="deleteData(employee, index)">Delete</a>
                    </div>
              </td> -->
            </tr> 
            </tbody>
        </table> 
        </div><!-- bd -->
  </div>
</div>
</template>


<script>
    export default {
      components:{},
        data: function () {
            return {
                date: {},
                attendances: {},
            }
        },
        watch: {
           date: {
                handler: function () {
                  this.loadAttendanceByDate(this.date);
                },
                deep: true
            },
        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
        },
        mounted() {
            this.date = moment(new Date() ).format('YYYY-MM-DD');
            this.loadAttendanceByDate(this.date);
        },
        methods: {
            loadAttendanceByDate: function (date) {
              this.attendances = {};
              this.$eventBus.$emit('loader', true);
                axios.get('/admin/attendances/get?date=' + date).then((response) => {
                    if (response.status == 200) {
                        this.attendances = response.data;
                    }                    
                })
              this.$eventBus.$emit('loader', false);
            },
        }
    }
</script>