<template>
	<div class="row mt-5">
		<div class="col-6">
			<div class="form-group">
				<label for="" class="form-control-label">Staf</label>
				<select v-model="check_out.staff_id" name="staff_id" id="staff_id" class="form-control">
					<option value="">Select Staf</option>

					<option v-if="staffs" v-for="(staff , index) in staffs" :value="staff.id">{{ staff.name }}</option>
				</select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
				<label for="" class="form-control-label">Date</label>
				<input v-model="check_out.date" type="date" name="date" class="form-control" placeholder="">
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
				<label for="" class="form-control-label">Exit Time  </label><br>
				<vue-timepicker format="hh:mm A" v-model="check_out.end_time" close-on-complete manual-input></vue-timepicker>
			</div>
		</div>
	    <div class="col-12">
	    	<div class="form-group">
	    		<label for="" class="form-control-label">Remarks</label>
	    		<textarea class="form-control" name="approve_remarks" v-model="check_out.approve_remarks"></textarea>
	    	</div>
	    </div>
	    <div class="col-12">
	    	<div class="form-group">
	    		<button type="button" class="btn btn-info btn-block" @click="checkOut">Save</button>
	    	</div>
	    </div>
     </div>
</template>
<script>
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'
    export default {
      components:{
            'vue-timepicker':VueTimepicker,
        },
        data: function () {
            return {
                staffs: {},
                check_out: {},
                isLoading: true,
            }
        },
        watch: {
           check_out: {
                handler: function () {
                  // console.log(this.check_out.end_time);
                },
                deep: true
            },
        },
        created() {
          
        },
        mounted() {
            this.check_out.date = moment(new Date() ).format('YYYY-MM-DD');
            this.check_out.end_time =  this.timePickerFormat();
            this.loadStaff();
        },
        methods: {
            timePickerFormat: function (date = new Date) {
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var ampm = hours >= 12 ? 'PM' : 'AM';
                hours = hours % 12;
                hours = hours ? hours : 12; // the hour '0' should be '12'
                var hours = ("0" + hours).slice(-2);
                minutes = minutes < 10 ? '0'+minutes : minutes;
                // var time = hours + ':' + minutes + ':' + ampm;
                let time = {};
                time.hh = ""+hours+"";
                time.mm = ""+minutes+"";
                time.A = ""+ampm+"";
              return time;
            },
            loadStaff: function (page =1) {  
             this.$eventBus.$emit('loader', true);    
                axios.get('/admin/staff/get?page=' + page+'&status=1').then((response) => {
                    if (response.status == 200) {
                        this.staffs = response.data;
                    }                    
                })
                this.$eventBus.$emit('loader', false);
            },
            checkOut: function () {  
             this.$eventBus.$emit('loader', true);    
                axios.post('/admin/attendances/update',this.check_out).then((response) => {
                    if (response.status == 201) {
                        this.$toaster.success(response.data[0]);
                        this.clear();
                    }
                }).catch(error => {
                    console.log(error);
                    if (error.response.status == 406) {
                         this.clear();
                        this.$swal({
                          title: 'warning!',
                          text: error.response.data[0],
                          icon: 'warning',
                        });
                    }else {
                        this.ifErrors(error)
                    }
                });
                this.$eventBus.$emit('reload');
                this.$eventBus.$emit('loader', false);
            },

            clear: function () {
                this.check_out = {};
                this.check_out.date = moment(new Date() ).format('YYYY-MM-DD');
                this.check_out.end_time =  this.timePickerFormat();
            },
        }
    }
</script>
<style>
    .display-time {
    display: block;
    width: 100% !important;
    height: calc(2.6125rem + 2px) !important;
    padding: 0.65rem 0.75rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
</style>