<template>  
    <div class="br-pagebody m-0 p-0">
        <div class="br-section-wrapper ">
            <div class="row m-0 p-0">
                <div class="col-6">
                    <h6 class="br-section-label">Transaction List</h6>
                </div>
                <div class="col-6">                    
                </div>
            </div>          
            <div class="row">                
                <div class="col-md-2">
                    <div class="form-group">
                        <select  v-model="quarry.sort" name="sort" id="sort" class="form-control">
                            <option value="1">Latest</option>
                            <option value="0">Oldest</option>
                        </select>
                        <span class="text-muted">Sort</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select  v-model="quarry.reason" name="per_page" id="per-page" class="form-control">
                            <option value="">Any</option>
                            <option  v-for="(reason , index) in reasons" :value="reason.name" class="text-uppercase">{{ reason.full_name }}</option>
                        </select>
                        <span class="text-muted">Category</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="month" class="form-control" name="month" v-model="quarry.month">
                        <span class="text-muted">Month</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-success btn-block" @click="loadReports()">Search</button>
                    </div>
                </div>
                <div class="col-sm-4" v-if="quarry.reason ==''">
                    <b>Previous Balance : {{ Number(details.pre_balance).toFixed(2)  }}</b> <br>
                    <b>Income  : {{ Number(details.income).toFixed(2)  }}</b><br> 
                    <b> Expense  : {{ Number(details.expense).toFixed(2)  }}</b><br>
                    <b> Balance : {{ Number(details.balence).toFixed(2)  }}</b><br>                    
                    <b>Status : <span class="btn btn-success btn-sm" v-if="details.profit==1">In Profit</span><span v-else class="btn btn-warning btn-sm">In Loss</span> </b>
                </div>
                <div class="col-sm-4" v-else>
                    <b>Income  : {{ Number(details.income).toFixed(2)  }}</b> <br>
                     <b> Expense  : {{ Number(details.expense).toFixed(2)  }}</b><br>
                    <b>Total : {{ details.total }}</b>
                </div>
            </div>
            <report-table :reports="reports" :reason="reason"></report-table>
        </div>
    </div>
</template>

<script>
    import ReportTable from './ReportTable';
    export default {
        components:{
            'report-table':ReportTable,
        },
        props: ['reasons'],
        data: function () {
            return {
                quarry: {
                    'perpage':'50',
                    'status':'',
                    'sort':1,
                    'reason':'',
                    'month':'',
                    'name':'',
                },
                details: {},
                reason: '',
                categories: {},
                reports: {},
                loading: true,
                file: '',
                message: '',
                errors: {},
            }
        },
        mounted() {
            this.quarry.month =  moment(new Date() ).format('YYYY-MM');
            this.loadReports();
        },
        created() {

        },
        beforeDestroy() {

        },
        watch: {
            quarry: {
                handler: function () {
                    this.loadReports();
                },
                deep: true
            }
        },
        methods:{

            loadReports: function(page = 1){
                axios.get('/admin/reports/get?page=' + page,{
                    params: this.quarry
                }).then((response) => {
                    this.details = response.data.details;
                    this.reports = response.data.data;
                });
            },
        }
    }
</script>