<template>

<div class="br-pagebody m-0 p-0">
    <div class="br-section-wrapper">
        <div class="load-wraper" v-if="isLoading">
            <loader id="loader" :color="'rgb(29 41 57)'" ></loader>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="new-report-tab" data-toggle="tab" href="#new-report" role="tab" aria-controls="new-report" aria-selected="true">Report By Date</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="report-this-month-tab" data-toggle="tab" href="#report-this-month" role="tab" aria-controls="report-this-month" aria-selected="false">This Month</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="payroll-by-month-tab" data-toggle="tab" href="#payroll-by-month" role="tab" aria-controls="payroll-by-month" aria-selected="false">Report By Month</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="new-report" role="tabpanel" aria-labelledby="contact-tab">
             <report-by-date :reasons="reasons"></report-by-date>
          </div>
          <div class="tab-pane fade " id="report-this-month" role="tabpanel" aria-labelledby="report-this-month">
             <report-this-month :reasons="reasons"></report-this-month>
          </div>
          <div class="tab-pane fade " id="payroll-by-month" role="tabpanel" aria-labelledby="payroll-by-month-tab">
             <report-by-month :reasons="reasons"></report-by-month>
          </div>
        </div>
    </div>
  </div>
</template>


<script>
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'
import { SpinnerLoader } from 'vue-spinners-css';
import ReportByDate from './ReportByDate'
import ReportThisManth from './ReportThisManth'
import ReportByManth from './ReportByManth.vue'
    export default {
      components:{
            'loader':SpinnerLoader,
            'report-by-date':ReportByDate,
            'report-this-month':ReportThisManth,
            'report-by-month':ReportByManth,
        },
        props: ['reasons'],
        data: function () {
            return {
                loading: true,
                file: '',
                isLoading: true,
            }
        },
        watch: {

        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
        },
        mounted() {
            this.isLoading = false;
        },
        methods: {
            
        }
    }
</script>