<template>
<div class="row">
  <holiday-table :holidays="holidays"></holiday-table>
</div>
</template>


<script>
  import HolidayTable from './HolidayTable'
    export default {
      components:{'holiday-table':HolidayTable},
        data: function () {
            return {
                date: {},
                holidays: {},
            }
        },
        watch: {
           date: {
                handler: function () {
                  this.loadholiday(this.date);
                },
                deep: true
            },
        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
          this.$eventBus.$on('reload', (data)=>{
            this.loadholiday(this.date);
         });
        },
        mounted() {
            this.date = moment(new Date() ).format('YYYY-MM-DD');
            this.loadholiday(this.date);
        },
        methods: {
            loadholiday: function (date) {
              this.holidays = {};
              this.$eventBus.$emit('loader', true);
                axios.get('/admin/holidays/get').then((response) => {
                    if (response.status == 200) {
                        this.holidays = response.data;
                    }
                })
              this.$eventBus.$emit('loader', false);
            },
        }
    }
</script>