<template>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="load-wraper" v-if="isLoading">
            <loader id="loader" :color="'rgb(29 41 57)'" ></loader>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="new-holiday-tab" data-toggle="tab" href="#new-holiday" role="tab" aria-controls="new-holiday" aria-selected="true">Add Holidays</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="holiday-this-month-tab" data-toggle="tab" href="#holiday-this-month" role="tab" aria-controls="holiday-this-month" aria-selected="false">This-month</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="holiday-by-month-tab" data-toggle="tab" href="#holiday-by-month" role="tab" aria-controls="holiday-by-month" aria-selected="false">Holiday By Month</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="new-holiday" role="tabpanel" aria-holidayledby="contact-tab">
             <new-holiday></new-holiday>
          </div>
          <div class="tab-pane fade " id="holiday-this-month" role="tabpanel" aria-holidayledby="holiday-this-month">
             <holiday-this-month></holiday-this-month>
          </div>
          <div class="tab-pane fade " id="holiday-by-month" role="tabpanel" aria-holidayledby="holiday-by-month-tab">
             <holiday-by-month></holiday-by-month>
          </div>
        </div>
    </div>
  </div>
</template>


<script>
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'
import { SpinnerLoader } from 'vue-spinners-css';
import NewHoliday from './NewHoliday.vue'
import HolidayByManth from './HolidayByManth'
import HolidayThisManth from './HolidayThisManth'
    export default {
      components:{
            'loader':SpinnerLoader,
            'new-holiday':NewHoliday,
            'holiday-by-month':HolidayByManth,
            'holiday-this-month':HolidayThisManth,
        },
        data: function () {
            return {
                loading: true,
                file: '',
                isLoading: true,
            }
        },
        watch: {

        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
        },
        mounted() {
            this.isLoading = false;
        },
        methods: {
            
        }
    }
</script>