<template>

<div class="row">
  <div class="col-md-4 offset-md-3">
    <div class="form-group">
      <label class="form-control-label">Date</label>
      <input type="month" class="form-control" v-model="date">
    </div>
  </div><holiday-table :holidays="holidays"></holiday-table>
</div>
</template>


<script>
  import HolidayTable from './HolidayTable'
    export default {
      components:{'holiday-table':HolidayTable},
        data: function () {
            return {
                date: {},
                holidays: {},
            }
        },
        watch: {
           date: {
                handler: function () {
                  this.loadholiday(this.date);
                },
                deep: true
            },
        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
          this.$eventBus.$on('reload', (data)=>{
            this.loadholiday(this.date);
         });
        },
        mounted() {
            this.date = moment(new Date() ).format('YYYY-MM');
            this.loadholiday(this.date);
        },
        methods: {
            loadholiday: function (date) {
              this.holidays = {};
              this.$eventBus.$emit('loader', true);
                axios.get('/admin/holidays/get?date=' + date).then((response) => {
                    if (response.status == 200) {
                        this.holidays = response.data;
                    }                    
                })
              this.$eventBus.$emit('loader', false);
            },
        }
    }
</script>