<template>
  <div class="col-md-12">
    <div class="bd bd-gray-300 rounded table-responsive">
      <table class="table mg-b-0">
            <thead class="bg-info text-white">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>From</th>
                <th>To</th>
                <th>Total</th>
                <th>Status</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
          <tr v-for="(holiday, index) in holidays"  v-bind:id="'data'+holiday.id">
              <th scope="row">{{ index+1 }}</th>
              <td>{{ holiday.name }}</td>
                  <td>
                    <p v-if="holiday.start_date !=null">{{   holiday.start_date  | moment("YYYY-MM-DD") }}</p>
                  </td>
                  <td>
                    <p v-if="holiday.end_date !=null">{{ holiday.end_date | moment("YYYY-MM-DD") }}</p>
                  </td>
                  <td>
                    {{ holiday.duration }}
                  </td>
                  <td>
                      <button class="btn-sm btn-secondary" v-if="holiday.status ==0">Deactive</button>
                      <button class="btn-sm btn-success" v-if="holiday.status ==1">Active</button>
                  </td>
                  <td class="text-center">            
                    <div class="btn-group">
                        <a  :href="'/admin/holidays/edit/'+holiday.id"class="btn btn-info btn-sm">Edit</a>
                        <a  href="javascript:viod(0)" @click="deleteData(holiday,index)" class="btn btn-warning btn-sm">Delete</a>
                    </div>
                    </td>
                  </tr>
            </tbody>
        </table> 
    </div><!-- bd -->
  </div>
</template>


<script>
    export default {
      components:{},
        mounted() {

        },
        props: ['holidays'],

        methods:{

          deleteData: function (holiday, index) {
             
             this.$swal({
                  title: 'Are you sure you want to delete '+holiday.name+'?',
                  text: "If you delete this, it will be gone forever.",
                  showCancelButton: true,
                  confirmButtonText: 'Yes, delete it!',
                  cancelButtonText: 'No, cancel!',
                  reverseButtons: true
              })
              .then((result) => {
                if (result.value) {
                  if (result.isConfirmed){
                    this.deleteholiday(holiday, index);
                  }
                }

              });
          },

          deleteholiday: function (holiday, index) {
              this.$eventBus.$emit('loader', false);
              axios.post('/admin/holidays/destroy/'+holiday.id)
              .then((response) => {
                if (response.status == 201) {
                    this.$toaster.success(response.data[0]);
                    this.$eventBus.$emit('reload');
                }
                  
              })
              .catch(error => {
                if (error.response.status ==409) {
                    this.$swal({
                      title: 'warning!',
                      text: error.response.data[0],
                      icon: 'warning',
                    });
                }else {
                    this.ifErrors(error)
                }
               
             });
            this.$eventBus.$emit('reload');
            this.$eventBus.$emit('loader', false);
          },
      }
    }
</script>