<template>
   <div class="row  mt-5">
      <div class="col-12">
         <div class="form-group">
            <label for="" class="form-control-label">Name</label>
            <input class="form-control" name="name" v-model="holiday.name" required="">
         </div>
      </div>
      <div class="col-2">
         <div class="form-group">
            <label for="" class="form-control-label">Start Date </label>
            <input class="form-control" type="date" v-model="holiday.start_date" required>
         </div>
      </div>
      <div class="col-2">
         <div class="form-group">
            <label for="" class="form-control-label">End Date </label>
            <input class="form-control" type="date" v-model="holiday.end_date" required>
         </div>
      </div>
      <div class="col-4">
         <div class="form-group">
            <label for=" form-control-label">Select Status</label>
            <select name="status" class="form-control" v-model="holiday.status" required>
               <option value="0">Deactive</option>
               <option value="1">Activ</option>
            </select>
         </div>
      </div>
      <div class="col-2">
         <div class="form-group mt-4">
            <button type="button" class="btn btn-warning btn-block" @click="clear">Clear</button>
         </div>
      </div>
      <div class="col-2" >
         <div class="form-group mt-4">
            <button type="button" class="btn btn-info btn-block" @click="storeHoliday">Save</button>
         </div>
      </div>
   </div>
</template>
<script>
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'
    export default {
      components:{
            'vue-timepicker':VueTimepicker,
        },
        data: function () {
            return {
                holiday: {
                    'status':0
                },
                isLoading: true,
            }
        },
        watch: {
           holiday: {
                handler: function () {
                  
                },
                deep: true
            },
        },
        created() {
          
        },
        mounted() {
            this.holiday.start_date =  moment(new Date() ).format('YYYY-MM-DD');
            this.holiday.end_date =  moment(new Date() ).format('YYYY-MM-DD');
        },
        methods: {
            storeHoliday: function () {  
             this.$eventBus.$emit('loader', true);    
                axios.post('/admin/holidays/store',this.holiday).then((response) => {
                    if (response.status == 201) {
                        this.$toaster.success(response.data[0]);
                        this.clear();
                    }
                }).catch(error => {
                    console.log(error);
                    if (error.response.status ==409) {
                         this.clear();
                        this.$swal({
                          title: 'warning!',
                          text: error.response.data[0],
                          icon: 'warning',
                        });
                    }else {
                        this.ifErrors(error)
                    }
                });
                this.$eventBus.$emit('reload');
                this.$eventBus.$emit('loader', false);
            },

            clear: function () {
                this.holiday = {
                    status:'0',
                };
                this.holiday.start_date =  moment(new Date() ).format('YYYY-MM-DD');
                this.holiday.end_date =  moment(new Date() ).format('YYYY-MM-DD');
            },
        }
    }
</script>
<style>
    .display-time {
    display: block;
    width: 100% !important;
    height: calc(2.6125rem + 2px) !important;
    padding: 0.65rem 0.75rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.vdatetime-input {
    padding: 8px 10px;
    font-size: 16px;
    border: solid 1px #ddd;
    color: #444;
}
</style>