<template>
	<div class="row  mt-5">
        <div class="col-6">
            <div class="form-group">
                <label for="" class="form-control-label">Staf</label>
                <select v-model="leave.staff_id" name="staff_id" id="staff_id" class="form-control">
                    <option value="">Select Staf</option>

                    <option v-if="staffs" v-for="(staff , index) in staffs" :value="staff.id">{{ staff.name }}</option>
                </select>
            </div>
        </div>
		<div class="col-3">
			<div class="form-group">
				<label for="" class="form-control-label">Start Date </label>
                    <datetime
                      type="datetime"
                      v-model="leave.start_date"
                      input-class="my-class"
                      value-zone="Asia/Dhaka"
                      zone="Asia/Dhaka"
                      :format="{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit', timeZoneName: 'short' }"
                      :phrases="{ok: 'Continue', cancel: 'Exit'}"
                      :week-start="7"
                      use12-hour
                      auto
                      ></datetime>
			</div>
		</div>
        <div class="col-3">
            <div class="form-group">
                <label for="" class="form-control-label">End Date </label>
                    <datetime
                      type="datetime"
                      v-model="leave.end_date"
                      input-class="my-class"
                      value-zone="Asia/Dhaka"
                      zone="Asia/Dhaka"
                      :format="{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit', timeZoneName: 'short' }"
                      :phrases="{ok: 'Continue', cancel: 'Exit'}"
                      :week-start="7"
                      use12-hour
                      auto
                      ></datetime>

            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="" class="form-control-label">Reason</label>
                <input class="form-control" name="reason" v-model="leave.reason">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="" class="form-control-label">Description</label>
                <!-- <input class="form-control" name="description" v-model="leave.description"> -->

                <ckeditor v-model="leave.description"></ckeditor>
            </div>
        </div>
        <div class="col-4">         
            <div class="form-group">
                <label for=" form-control-label">Select status</label>
                <select name="status" class="form-control" v-model="leave.status" required>
                    <option value="0">Pending</option>
                    <option value="1">Approve</option>
                    <option value="2">Decline</option>
                </select>
            </div>   
        </div>
        <div class="col-4">
	    	<div class="form-group mt-4">
	    		<button type="button" class="btn btn-warning btn-block" @click="clear">Clear</button>
	    	</div>
	    </div>
        <div class="col-4">
            <div class="form-group mt-4">
                <button type="button" class="btn btn-info btn-block" @click="updateLeave">Save</button>
            </div>
        </div>
     </div>
</template>
<script>
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'
    export default {
      components:{
            'vue-timepicker':VueTimepicker,
        },
        data: function () {
            return {
                staffs: {},
                leave: {
                    status:'0',
                },
                isLoading: true,
            }
        },
        props:['data'],
        watch: {
           leave: {
                handler: function () {
                  // console.log(this.leave.start_time);
                },
                deep: true
            },
        },
        created() {
          
        },
        mounted() {
            this.leave = this.data;
            this.loadStaff();
        },
        methods: {
            timePickerFormat: function (date = new Date) {
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var ampm = hours >= 12 ? 'PM' : 'AM';
                hours = hours % 12;
                hours = hours ? hours : 12; // the hour '0' should be '12'
                var hours = ("0" + hours).slice(-2);
                minutes = minutes < 10 ? '0'+minutes : minutes;
                // var time = hours + ':' + minutes + ':' + ampm;
                let time = {};
                time.hh = ""+hours+"";
                time.mm = ""+minutes+"";
                time.A = ""+ampm+"";
              return time;
            },
            loadStaff: function (page =1) {  
             this.$eventBus.$emit('loader', true);    
                axios.get('/admin/staff/get?page=' + page+'&status=1').then((response) => {
                    if (response.status == 200) {
                        this.staffs = response.data;
                    }                    
                })
                this.$eventBus.$emit('loader', false);
            },
            updateLeave: function () {  
             this.$eventBus.$emit('loader', true);    
                axios.post('/admin/leaves/update',this.leave).then((response) => {
                    if (response.status == 201) {
                        this.$toaster.success(response.data[0]);
                        //this.clear();
                    }
                }).catch(error => {
                    console.log(error);
                    if (error.response.status ==409) {
                         this.clear();
                        this.$swal({
                          title: 'warning!',
                          text: error.response.data[0],
                          icon: 'warning',
                        });
                    }else {
                        this.ifErrors(error)
                    }
                });
                this.$eventBus.$emit('reload');
                this.$eventBus.$emit('loader', false);
            },

            clear: function () {
                this.leave = {
                    status:'0',
                };
            },
        }
    }
</script>
<style>
    .display-time {
    display: block;
    width: 100% !important;
    height: calc(2.6125rem + 2px) !important;
    padding: 0.65rem 0.75rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.vdatetime-input {
    padding: 8px 10px;
    font-size: 16px;
    border: solid 1px #ddd;
    color: #444;
}
</style>