<template>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="load-wraper" v-if="isLoading">
            <loader id="loader" :color="'rgb(29 41 57)'" ></loader>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="new-leave-tab" data-toggle="tab" href="#new-leave" role="tab" aria-controls="new-leave" aria-selected="true">New Leave</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="leave-this-day-tab" data-toggle="tab" href="#leave-this-day" role="tab" aria-controls="leave-this-day" aria-selected="true">ToDay day</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="leave-this-month-tab" data-toggle="tab" href="#leave-this-month" role="tab" aria-controls="leave-this-month" aria-selected="false">This-month</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="leave-by-month-tab" data-toggle="tab" href="#leave-by-month" role="tab" aria-controls="leave-by-month" aria-selected="false">Leave By Month</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="new-leave" role="tabpanel" aria-labelledby="contact-tab">
             <newlabel></newlabel>
          </div>
          <div class="tab-pane fade " id="leave-this-day" role="tabpanel" aria-labelledby="leave-this-day-tab">
             <leave-today></leave-today>
          </div>
          <div class="tab-pane fade " id="leave-this-month" role="tabpanel" aria-labelledby="leave-this-month">
             <leave-this-month></leave-this-month>
          </div>
          <div class="tab-pane fade " id="leave-by-month" role="tabpanel" aria-labelledby="leave-by-month-tab">
             <leave-by-month></leave-by-month>
          </div>
        </div>
    </div>
  </div>
</template>


<script>
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'
import { SpinnerLoader } from 'vue-spinners-css';
import newlabel from './NewLeave.vue'
import LeaveByManth from './LeaveByManth'
import LeaveTodayDay from './LeaveTodayDay'
import LeaveThisManth from './LeaveThisManth'
    export default {
      components:{
            'loader':SpinnerLoader,
            newlabel,
            'leave-by-month':LeaveByManth,
            'leave-today':LeaveTodayDay,
            'leave-this-month':LeaveThisManth,
        },
        data: function () {
            return {
                loading: true,
                file: '',
                isLoading: true,
            }
        },
        watch: {

        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
        },
        mounted() {
            this.isLoading = false;
        },
        methods: {
            
        }
    }
</script>