<template>


  <div class="col-md-12">
    
    <div class="bd bd-gray-300 rounded table-responsive">
      <table class="table mg-b-0">
            <thead class="bg-info text-white">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>From</th>
                <th>To</th>
                <th>Total</th>
                <th>Status</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
          <tr v-for="(leave, index) in leaves"  v-bind:id="'data'+leave.id">
              <th scope="row">{{ index+1 }}</th>
              <td>{{ leave.staff.name }}</td>
                  <td>
                    <p v-if="leave.start_date !=null">{{   leave.start_date  | moment("YYYY-MM-DD hh:mm A") }}</p>
                  </td>
                  <td>
                    <p v-if="leave.end_date !=null">{{ leave.end_date | moment("YYYY-MM-DD hh:mm A") }}</p>
                  </td>
                  <td>
                    {{ leave.duration }}
                  </td>
                  <td>
                      <button class="btn-sm btn-secondary" v-if="leave.status ==0">Pending</button>
                      <button class="btn-sm btn-success" v-if="leave.status ==1">Approve</button>
                      <button class="btn-sm btn-danger" v-if="leave.status ==2">Decline</button>
                  </td>
                  <td class="text-center">            
                    <div class="btn-group">
                        <a  :href="'/admin/leaves/edit/'+leave.id"class="btn btn-info btn-sm">Edit</a>
                        <a  href="javascript:viod(0)" @click="deleteData(leave, index)" class="btn btn-warning btn-sm">Delete</a>
                    </div>
                    </td>
                  </tr>
            </tbody>
        </table> 
        </div><!-- bd -->
  </div>
</template>


<script>
    export default {
      components:{},
        mounted() {
        },
        props: ['leaves'],


        methods:{

          deleteData: function (leave, index) {
             
             this.$swal({
                  title: 'Are you sure you want to delete '+leave.name+'?',
                  text: "If you delete this, it will be gone forever.",
                  showCancelButton: true,
                  confirmButtonText: 'Yes, delete it!',
                  cancelButtonText: 'No, cancel!',
                  reverseButtons: true
              })
              .then((result) => {
                if (result.value) {
                  if (result.isConfirmed){
                    this.deleteleave(leave, index);
                  }
                }

              });
          },

          deleteleave: function (leave, index) {
              this.$eventBus.$emit('loader', false);
              axios.post('/admin/leaves/destroy/'+leave.id)
              .then((response) => {
                if (response.status == 201) {
                    this.$toaster.success(response.data[0]);
                    this.$eventBus.$emit('reload');
                }
                  
              })
              .catch(error => {
                if (error.response.status ==409) {
                    this.$swal({
                      title: 'warning!',
                      text: error.response.data[0],
                      icon: 'warning',
                    });
                }else {
                    this.ifErrors(error)
                }
               
             });
            this.$eventBus.$emit('reload');
            this.$eventBus.$emit('loader', false);
          },
      }
    }
</script>