<template>
<div class="row">
  <leave-table :leaves="leaves"></leave-table>
</div>
</template>


<script>
  import LeaveTable from './LeaveTable'
    export default {
      components:{'leave-table':LeaveTable},
        data: function () {
            return {
                date: {},
                leaves: {},
            }
        },
        watch: {
           date: {
                handler: function () {
                  this.loadleave(this.date);
                },
                deep: true
            },
        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
          this.$eventBus.$on('reload', (data)=>{
            this.loadleave(this.date);
         });
        },
        mounted() {
            this.date = moment(new Date() ).format('YYYY-MM-DD');
            this.loadleave(this.date);
        },
        methods: {
            loadleave: function (date) {
              this.leaves = {};
              this.$eventBus.$emit('loader', true);
                axios.get('/admin/leaves/get?type=day').then((response) => {
                    if (response.status == 200) {
                        this.leaves = response.data;
                    }                    
                })
              this.$eventBus.$emit('loader', false);
            },
        }
    }
</script>