<template>  
  
      <div  class="table-wrapper">
        <table class="table display responsive nowrap datatable">
              <thead>
                <tr>
                  <th class="text-center">Sl</th>
                  <th class="text-center">ID</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">K.O.T</th>
                  <th class="text-center">Total</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Date</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                
                <tr v-for="(order , index) in orders" :id="'data'+order.id">
                  <th scope="row">{{ index +1 }}</th>
                  <th >{{ order.order_code }}</th>
                  <th class="text-center">{{ order.name }}</th>
                  <th class="text-center">{{ order.kot }}</th>
                  <th class="text-center">
                    <span >{{ order.grand_total }}</span>
                  </th>
                  <th class="text-center">
                    <p v-if="order.discount_type == 'guest'" >
                      <span  class="btn btn-info btn-sm">Guest</span>
                    </p>                    
                    <p v-else >
                      <p v-if="order.payment_type=='credit'">
                        <span   class="btn btn-dark btn-sm">Credit {{ order.grand_total - order.collected }}</span>
                      </p>
                        <p v-else>
                          <span v-if="order.grand_total <= order.collected || order.grand_total == order.collected"  class="btn btn-success btn-sm">Paid</span>
                          <span v-else  class="btn btn-warning btn-sm">Unpaid {{ order.grand_total - order.collected }}</span>
                        </p>
                    </p>
                      
                    </p>
                  </th>
                  <th class="text-center">
                    {{ order.date | moment("D-MM-YYYY") }}
                  </th>
                  <td class="text-center">
                    <div class="btn-group">
                      <a :href="'/admin/orders/show/'+order.id"  class="btn btn-info btn-sm">View</a>
                      <a :href="'/admin/orders/edit/'+order.id"  class="btn btn-secondary btn-sm">Edit</a>
                      <a href="javascript:viod(0)" @click="deleteData(order,index)"  class="btn btn-warning btn-sm">Delete</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

        <div class="modal" tabindex="-1" role="dialog" id="change-status">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form @submit.prevent="statusSave()">
            <div class="modal-header">
              <h5 class="modal-title">Change Status</h5>
              <button type="button" class="close" @click="changeStatusClose()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <select v-model="status" name="status" id="status" class="form-control">
                <option value="0">Panding</option>
                <option value="1">Approved</option>
                <option value="2">Declined</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
              <button type="button" @click="changeStatusClose()" class="btn btn-secondary">Close</button>
            </div>
              
            </form>
          </div>
        </div>
      </div>
      </div>
</template>


<script>
    export default {
      components:{},
        mounted() {

        },
        props: ['orders'],
        data: function () {
            return {
                status: null,
                data: null,
            }
        },
        mounted() {
             
        },

        methods:{

            changeStatusOpen: function (data, index) {
              if(this.$role == 'super-admin'){
                this.status = data.status;
                this.data = data;
                $('#change-status').modal();
              }               
             },
            changeStatusClose: function () {
               if(this.$role == 'super-admin'){
                 this.status = null; 
                 this.data = null; 
                 $('#change-status').modal('hide');
               }
             },
            statusSave: function () {
               if(this.$role == 'super-admin'){
                 axios.post('/admin/orders/status/'+this.data.id,{
                  'status':this.status
                 })
                .then((response) => {                  
                  if (response.status == 202) {
                     this.status = null; 
                     this.data = null; 
                      this.$toaster.success(response.data.message) 
                      this.$eventBus.$emit('reload');
                      $('#change-status').modal('hide');               
                  }else {
                    this.$toaster.warning(response.data)  
                  }
                    
                })
               }
             },
            deleteData: function (order, index) {
               
               this.$swal({
                    title: 'Are you sure you want to delete '+order.order_code+'?',
                    text: "If you delete this, it will be gone forever.",
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                })
                .then((result) => {
                  if (result.value) {
                    if (result.isConfirmed){
                      this.deleteOrder(order, index);
                    }
                  }

                });
            },

            deleteOrder: function (order, index) {
                axios.post('/admin/orders/destroy/'+order.id)
                .then((response) => {
                    console.log(response.data);
                  
                  if (response.status == 202) {
                        document.getElementById('data'+order.id).style.display = "none";
                        this.$eventBus.$emit('reload');
                      this.$swal({
                        title: 'Success!',
                        text: response.data.data,
                        icon: 'success',
                        //confirmButtonText: 'Cool'
                      });
                        this.errors = {};
                    }else{
                        this.$swal({
                          title: 'Error!',
                          text: response.data,
                          icon: 'error',
                        });
                    }
                    
                })
                .catch(error => {
                    this.errors = error.response.data.errors;
                    this.$swal({
                          title: 'error!',
                          text: error.response.data.message,
                          icon: 'error',
                          //confirmButtonText: 'Cool'
                        });
                   
                 });
            },
      }
    }
</script>
<style scoped>
  
  .old-price{
    position: relative;
  }
  .old-price::after{
    content: '';
    position: ;
  }

</style>