<template>
    <div class="col-sm-2">
        <b>Sub Total : {{ Number(details.total).toFixed(2) }}</b><br>
        <b> Discount: {{ Number(details.total_discount).toFixed(2) }}</b><br>
        <b> Grand Total: {{ Number(details.receivable).toFixed(2) }}</b><br>
        <b> Collected: {{ Number(details.total_collected).toFixed(2) }}</b><br>
        <b> Due: {{ Number(details.total_due).toFixed(2) }}</b><br>
    </div>
</template>
<script>
    export default {
        props: ['details'],
    }
</script>