<template>
  <div class="br-pagebody">
    
    <div class="br-section-wrapper">
      <div class="load-wraper" v-if="isLoading">
        <loader id="loader" :color="'rgb(29 41 57)'" ></loader>
      </div>
      <div class="row">
        <div class="col-6">
          <h6 class="br-section-label text-capitalize">New Purchases</h6>
          <p class="br-section-text"></p>
        </div>
        <div class="col-6">
          <a href="/admin/asset-purchases/" class="btn btn-primary float-right text-capitalize">Purchases List</a>
        </div>
      </div>
      <form action="admin.purchases.store" @submit.prevent="save()" method="POST" enctype="multipart/form-data">

        <div class="row m-0">
          <div class="col-12">

            <div class="row">
              <div class="col-3">
                <div class="form-group ">
                  <label class="form-control-label text-center">Item</label>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label class="form-control-label text-center">Price</label>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label class="form-control-label text-center">Quantity</label>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label class="form-control-label text-center">Total</label>
                </div>
              </div>
              <div class="col-1">
                <label class="form-control-label text-center">Action</label>
              </div>
            </div>

          </div>
          <div class="col-12" v-for="(sproduct,index) in products" v-if="ObjectLength(products)>0">
            <row-item :product="sproduct"></row-item>
          </div>

          <stock-add-form></stock-add-form>

          <div class="col-3">
            <div class="form-group">
              <label class="form-control-label">Sub Total :</label>
              <input type="number" class="form-control" v-model="sub_total" readonly>
            </div> 
          </div>
           <div class="col-3">
            <div class="form-group">
              <label class="form-control-label">Discount</label>
              <input type="number" class="form-control" v-model="discount" >
            </div>  
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="form-control-label">Supplier</label>
              <select name="supplier_id" id="supplier_id" v-model="supplier_id" class="form-control">
                <option value="">Select Supplier</option>
                <option v-if="ObjectLength(suppliers)>0" :value="supplier.id" v-for="(supplier,index) in suppliers">{{ supplier.name }}</option>
                <option v-else>No Supplier Available</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label for="" class="form-control-label">Date</label>
              <input type="date" class="form-control" v-model="date">
            </div>
          </div>
           <div class="col-3">
            <div class="form-group">
              <label class="form-control-label">Grand Total :</label>
              <input type="number" class="form-control" v-model="grand_total" readonly>
            </div>
          </div>
           <div class="col-2">
            <div class="form-group">
              <label class="form-control-label">Due</label>
              <input type="number" class="form-control" v-model="due" readonly>
            </div>  
          </div>
           <div class="col-3">
            <div class="form-group">
              <label class="form-control-label">Paid</label>
              <input type="number" class="form-control" v-model="paid" >
            </div>  
          </div>
          <div class="col-2">
            <button class="btn btn-warning btn-block float-right mt-4" type="reset">Clear</button>
          </div>
          <div class="col-2 ">
            <button class="btn btn-success btn-block float-right mt-4" type="submit">Save</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
</template>
<script>

  import { SpinnerLoader } from 'vue-spinners-css';
  import StockAddForm from './StockAddForm.vue'
  import RowItem from './RowItem.vue'
  export default{
    components:{
      'stock-add-form':StockAddForm,
      'row-item':RowItem,
      'loader':SpinnerLoader,
    },
    data: function(){
      return {        
        products: {},
        date: null,
        grand_total: 0,
        sub_total: 0,
        paid: 0,
        due: 0,
        discount: 0,
        suppliers: {},
        supplier_id: '',
        isLoading: false,
      }
    },
    watch: {
       discount: {
            handler: function () {
               this.calPurchase();
            },
            deep: true
        },
       paid: {
            handler: function () {
               this.calPurchase();
            },
            deep: true
        },
       products: {
            handler: function () {
               this.calPurchase();
            },
            deep: true
        },
    },
    created() {
      this.$eventBus.$on('item-added', (data)=>{
        if (data.id) {
          let  item = {
            'id':data.id,
            'name':data.name,
            'price':data.price,
            'quantity':1,
            'discount':0,
            'total':data.price * 1,
          };
          this.$set(this.products, item.id, item)
        }
        this.calPurchase();        
      });
      this.$eventBus.$on('item-removed', (data)=>{
         this.$delete(this.products,data);
         this.calPurchase();
         return true;      
       });
      this.$eventBus.$on('loader', (data)=>{
        this.isLoading = data;
     });
    },
    mounted(){
      this.date = moment(new Date() ).format('YYYY-MM-DD');
      this.getSupplier();
      this.calPurchase();     
    },
    methods:{

      getSupplier: function(){
        this.isLoading = true;
        axios.get(window.location.origin+'/admin/suppliers/get/?status=1').then((response)=>{
          return response.status == 200 ? this.suppliers = response.data : {};
        })
        this.isLoading = false;
      },
      save: function(){
        this.$eventBus.$emit('loader', true);
        axios.post(window.location.origin+'/admin/asset-purchases/store',{
          'date':this.date,
          'supplier_id':this.supplier_id,
          'paid':this.paid,
          'products':this.products,
        }).then((response)=>{
          if (response.status ==201) {
            this.clear();
            this.$toaster.success(response.data[0])
          }
       })
        .catch(error => {this.ifErrors(error)});
        this.$eventBus.$emit('loader', false);
      },
      calPurchase: function(){
        let sub_total = 0;
        $.each(this.products, function(key, value) {
         sub_total += value.price * value.quantity
       });
        this.sub_total = sub_total;
        this.grand_total = sub_total - this.discount;
        this.due = this.grand_total - this.paid ;

      },
      ObjectLength: function (object ) {
        var length = 0;
        for( var key in object ) {
          if( object.hasOwnProperty(key) ) {
            ++length;
          }
        }
        return length;
      },
      clear : function () {
        this.products= {};
        this.date = moment(new Date() ).format('YYYY-MM-DD');
        this.grand_total= 0;
        this.sub_total= 0;
        this.paid= 0;
        this.due= 0;
        this.discount= 0;
        this.supplier_id = '';
        return true;
      },
    }
  }
</script>
<style >
  .br-section-wrapper{
    position: relative;
  }
  .load-wraper{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    z-index: 999999;
  }
  .load-wraper #loader{
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
</style>