<template>

<div class="br-pagebody">
    <div class="br-section-wrapper">
      <div class="load-wraper" v-if="isLoading">
        <loader id="loader" :color="'rgb(29 41 57)'" ></loader>
      </div>
      <div class="row">
        <div class="col-6">
              
          <h6 class="br-section-label">Purchase List</h6>
          <p class="br-section-text"></p>
        </div>
        <div class="col-6">
          <a href="/admin/asset-purchases/create" class="btn btn-primary float-right">Add New</a>
        </div>
      </div>

    <div class="bd bd-gray-300 rounded table-responsive">
	<table class="table mg-b-0">
        <thead class="bg-info text-white">
          <tr>
            <th>ID</th>
            <th>User</th>
            <th>Supplier</th>
            <th>Item</th>
            <th>Total</th>
            <th>Paid</th>
            <th>Due</th>
            <th>Date</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
			<tr v-for="(purchase, index) in purchases" v-bind:id="'data'+purchase.id">
		      <th scope="row">{{ ((laravelData.current_page-1)*laravelData.per_page) + index +1 }}</th>
		      <td>{{ purchase.user.name }}</td>
              <td>{{ purchase.supplier.name }}</td>
              <td>{{ purchase.items_count }}</td>
              <td>{{  Number(purchase.total).toFixed(2) }}</td>
              <td>{{ purchase.paid !=0 ? Number(purchase.paid).toFixed(2) : '-' }}</td>
              <td>{{ purchase.due !=0 ? Number(purchase.due).toFixed(2) : '-' }}</td>
              <td>{{ purchase.created_at | moment("D-MMMM-YYYY") }}</td>
		      <td class="text-center">		        
                <div class="btn-group">
                    <a  v-bind:href="'/admin/asset-purchases/edit/'+purchase.id"class="btn btn-secondary btn-sm">Edit</a>
                        <a href="javascript:viod()"  class="btn btn-warning btn-sm" @click.prevent="deleteData(purchase, index)">Delete</a>
                </div>
		      </td>
		    </tr>	
        </tbody>
    </table> 
    </div><!-- bd -->
    <pagination :data="laravelData" @pagination-change-page="loadPurchase" :limit="10"></pagination>
    </div><!-- br-section-wrapper -->
  </div>  
</template>


<script>
import { SpinnerLoader } from 'vue-spinners-css';
import pagination from 'laravel-vue-pagination'
    export default {
      components:{
            pagination,
            'loader':SpinnerLoader,
        },
        data: function () {
            return {
                laravelData: {},
                purchases: {},
                loading: true,
                file: '',
                isLoading: true,
            }
        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
        },
        mounted() {
            this.isLoading = false,
            this.loadPurchase();
        },
        methods: {
            loadPurchase: function (page =1) {  
             this.$eventBus.$emit('loader', true);    
                axios.get('/admin/asset-purchases/get?page=' + page).then((response) => {
                    if (response.status == 200) {
                        this.laravelData = response.data;
                        this.purchases = response.data.data;
                    }                    
                })
                this.$eventBus.$emit('loader', false);
            },
            destroy: function (purchase, index) {
                 this.$eventBus.$emit('loader', true);
                axios.post('/admin/asset-purchases/destroy/'+purchase.id)
                .then((response) => {                  
                    if (response.status == 201) {
                        document.getElementById('data'+purchase.id).style.display = "none";
                        this.$toaster.success(response.data[0])
                    }                    
                })
                .catch(error => {this.ifErrors(error)});
                this.$eventBus.$emit('loader', false);
            },
            deleteData: function (purchase, index) {
               
               this.$swal({
                    title: 'Are you sure you want to delete '+purchase.invoice_id+'?',
                    text: "If you delete this, it will be gone forever.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                })
                .then((result) => {
                  if (result.value) {
                    if (result.isConfirmed){
                      this.destroy(purchase, index);
                    }
                  }

                });
            },
        }
    }
</script>