<template>
      <form @submit.prevent="save()" action="/admin/stocks/store" method="POST" enctype="multipart/form-data">
        <div class="row m-0">
          <div class="col-md-2">
            <div class="form-group">
              <label class="form-control-label">Type</label>
              <select name="type_id" id="type_id" class="form-control" v-model="type_id" @change.prevent="getItems()">
                <option value="">Select Items Type</option>
                <option v-if="ObjectLength(types)>0" :value="type.id" v-for="(type,index) in types">{{ type.name }}</option>
                <option v-else>No Type Available</option>
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label class="form-control-label">Item</label>
              <select name="item_id" id="item_id"  v-model="item_id" class="form-control" @change.prevent="getProduct()">
                <option v-if="ObjectLength(items)>0" :value="item.id" v-for="(item,index) in items">{{ item.name }}</option>
                <option v-else>No Item Available</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="form-control-label">Price </label>
              <input type="number" class="form-control" name="price" v-model="product.price">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="form-control-label">Quantity </label>
              <input type="number" class="form-control" name="quantity" v-model="product.quantity">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="form-control-label">Total</label>
              <input type="number" class="form-control" name="total" v-model="product.total" readonly>
            </div>
          </div> 
          <div class="col-md-1 text-right"><!-- @click.prevent="reset()" -->
           <button class="btn btn-info mt-4 btn-block"  type="submit">Add</button>
          </div>          
        </div>
      </form>
</template>

<script>
  export default{
    compontets:{

    },
    data(){
      return {        
        product: {},
        sell_item: {},
        type_id: '',
        item_id: '',
        types: {},
        items: {},
        loading: true,
        file: '',
        message: '',
        errors: {},
      }
    },
    watch: {
       product: {
            handler: function () {
                this.product.total = Number(this.product.price * this.product.quantity - this.product.discount).toFixed(3);
            },
            deep: true
        }
    },
    mounted(){
      this.getTypes();
    },
    methods:{
      calTotal: function(){
        this.product.total = Number(this.product.price * this.product.quantity).toFixed(3);
        return this.product.total;
      },
      getTypes: function(){
        axios.get(window.location.origin+'/admin/asset-categories/get/?status=1?all=1').then((response)=>{
          return response.status == 200 ? this.types = response.data : {};
        })
      },
      getItems: function(){
        this.$eventBus.$emit('loader', true);
        this.items = {};
        
		    this.product = {
              'id':null,
              'name':null,
              'price': 0,
              'quantity':0,
              'discount':0,
              'total':0,
            };
        this.sell_item = {};
        this.item_id = '';
        axios.get(window.location.origin+'/admin/assets/filter/?status=1&type_id='+this.type_id).then((response)=>{          
          return response.status == 200 ? this.items = response.data : {};
        })
        this.$eventBus.$emit('loader', false);
      },
      getProduct: function(){
        
        this.$eventBus.$emit('loader', true);
        axios.get(window.location.origin+'/admin/assets/getitem/'+this.item_id).then((response)=>{
          if (response.status == 200) {
          //console.log(response.data)
            this.product = response.data;
            // this.product.price = response.data.selling_price;
            // this.product.quantity = 1;
            // this.product.total = response.data.selling_price*1;
            // this.product.discount = 0;
              this.product = {
              'id':response.data.id,
              'name':response.data.name,
              'price':0,
              'quantity':1,
              'discount':0,
              'total': 0 * 1,
            };
            return this.product;          
          }
        })
        this.$eventBus.$emit('loader', false);
      },
      save: function(){
        let  item = {
              'id': this.product.id,
              'name': this.product.name,
              'price': this.product.price,
              'quantity': 1,
              'discount': 0,
              'total': this.product.price * 1,
            };
    		this.$eventBus.$emit('item-added', item);
    		return this.reset();
      },
      reset: function(){
		    this.product = {};
        this.sell_item = {};
        this.type_id = '';
        this.supplier_id = '';
        this.item_id = '';
        return true;
      },
      ObjectLength: function (object ) {
          var length = 0;
          for( var key in object ) {
              if( object.hasOwnProperty(key) ) {
                  ++length;
              }
          }
          return length;
      },
    }
  }
</script>