<template>
  <div class="col-md-6 m-0 p-0">
    <div class="row mt-3 ml-3">
      <div class="col-sm-5 m-0">
        <label class="form-control-label">Name: </label>
        <input class="form-control" type="text" name="name" value="" placeholder="Name" required v-model="order.name">
      </div>
      <div class="col-sm-3">
        <label class="form-control-label">Table: </label>
        <select name="table" id="table" class="form-control" v-model="order.table">
          <option value="">Select Table</option>
          <option v-for="(table , index) in tables" :value="table.name">{{ table.name }}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label class="form-control-label">K.O.T: </label>
        <input class="form-control" type="text" name="kot" value="" placeholder="K.O.T" required v-model="order.kot">
      </div>
      <!-- <div class="col-sm-5">
        <button type="button" @click="save('save')" class="btn btn-outline-info btn-sm " style="margin-top: 40px;"><i class="fa fa-floppy" aria-hidden="true"></i> Save</button>
        <button type="button" @click="save('s&p')" class="btn btn-outline-primary btn-sm" style="margin-top: 40px;" ><i class="fa fa-print"></i>Save And Print</button>
      </div> -->

    </div>

    <div class="item-boxes">
      <div class="form-group m-3">
        <table id="" class="table display responsive nowrap">
          <thead class="thead-dark">
            <tr>
              <th class="text-center">Item</th>
              <th class="text-center">Price</th>
              <th class="text-center">Qty</th>
              <th class="text-center">Sub Total</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item , index) in items">
              <td class="text-center">  {{ item.name }}
              </td>
              <td class="text-center">{{ parseFloat(item.price).toFixed(2) }}</td>
              <td class="text-center">
                <quantity-input :item="item"></quantity-input>
              </td>
              <td class="text-center">
                <input type="number" v-model="item.subtotal" step="2" min="1" class="form-control">
              </td>
              <td>
                <div class="btn-group" role="group" aria-label="First group">
                  <!-- <button type="button" class="btn btn-info btn-sm" @click="editModel(item)">
                    Edit
                  </button> -->
                  <button type="button" class="btn btn-danger btn-sm" @click="removeItem(item)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>

              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- col-12 -->

    </div>
    <div class="form-group" >
      <table id="" class="table display responsive nowrap">
        <tbody>

          <tr class="table-warning">
            <td class="text-center text-dark"><b>Total Item: {{  Number(order.total_item).toFixed(2) }}</b></td>
            <td class="text-center text-dark"><b>Sub Total: {{  Number(order.total).toFixed(2) }}</b></td>
            <td class="text-center text-dark">
              <b v-if="order.discount_type === 'percentage'">Discount: {{  Number(order.discount).toFixed(2) }} % </b>
              <b v-if="order.discount_type === 'flat'">Discount: {{  Number(order.discount).toFixed(2) }} </b>
              <b v-if="order.discount_type === 'guest'">Discount: 100 % (Guest) </b>
            </td>
          </tr>
          <tr class="table-dark">
            <td class="text-center  text-dark" >
              <h4><b>Change : {{ Number(order.change).toFixed(2) }}</b></h4>
            </td>
            <td class="text-center  text-dark" >
              <h4><b>Collected : {{ Number(order.collected).toFixed(2) }}</b></h4>
            </td>
            <td class="text-center  text-dark" >
              <h4><b>Grand Total : {{ Number(order.grand_total).toFixed(2) }} </b></h4>
            </td>
          </tr>
          <tr class="table-dark">
            <td class="text-center  text-dark " >
              <button class="btn btn-sm btn-primary btn-block" @click.prevent="billingModel()"><i class="far fa-money-bill-alt"></i> Billing</button>
            </td>
            <td class="text-center  text-dark" >
              <button class="btn btn-sm btn-secondary btn-block" @click.prevent="save('s&p')"><i class="fa fa-print"></i> Print</button>
            </td>
            <td class="text-center  text-dark" >
              <button class="btn btn-sm btn-danger btn-block" @click.prevent="clear()"><i class="fas fa-times"></i> Clear</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- col-12 -->

<div class="modal fade" id="edit-item" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <edit-cart-item v-if="edititem.id !=null" :item="edititem"></edit-cart-item>

</div>

<div class="modal fade" id="edit-payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <edit-payment :order="order"></edit-payment>

</div>

</div>
</template>

<script>
  import EditPayment from './EditPayment.vue';
  import QuantityInput from './QuantityInput.vue';
  import EditCartItem from './EditCartItem.vue';
  export default {
    components:{
      'quantity-input':QuantityInput,
      'edit-cart-item':EditCartItem,
      'edit-payment':EditPayment,
    },
    data: function () {
      return {
        edititem: {},
        items: {},
        tables: {},
        order:{
          "name": '',
          "customer_id": null,
          "table": '',
          "kot": '',
          "total_item": 0,
          "total": 0,
          "discount": 0,
          "discount_type": 'flat',
          "payment_type": 'cash',
          "date": null,
          "grand_total": 0,
          "collected": 0,
          "change": 0,
          "note": null,
        },
        loading: true,
        file: '',
        message: '',
        errors: {},
      }
    },
    mounted() {
      this.order.date =  moment(new Date() ).format('YYYY-MM-DD');
      this.loadTable();
    },
    created() {
      this.$eventBus.$on('item-added', (data)=>{
        if (data.id) {
          if (this.items.hasOwnProperty(data.id)) {this.increaseQty(data)}else{this.setItem(data)}
            this.calOrder();
        }
        this.calOrder();
      });
      this.$eventBus.$on('cart-upated',this.calOrder);
      this.$eventBus.$on('model-close', this.closeModel);
      this.$eventBus.$on('payment-saved', this.closePaymentModel);
    },
    beforeDestroy() {
      this.$eventBus.$off('item-added');
      this.$eventBus.$off('cart-upated');
      this.$eventBus.$off('model-close');
      this.$eventBus.$off('payment-saved', this.closePaymentModel);
    },
    methods:{
      loadTable: function(){
        axios.get('/admin/tables/get?status=1')
          .then((response) => {
              this.tables = response.data.data;
          });
      },
      setItem: function(data){
        let item ={
          id: data.id,
          name: data.name,
          price: data.price,
          quantity: 1,
          note: null,
          subtotal: data.price,
          associatedModel: data
        }
        this.$set(this.items, data.id, item);
        this.calOrder();
      },
      increaseQty: function(data,quantity=1){
        let oldItem = this.items[data.id];
        let newQuantity = oldItem.quantity + quantity
        let item ={
          id: data.id,
          name: data.name,
          price: data.price,
          quantity: newQuantity,
          note: data.note,
          subtotal: Number(newQuantity*data.price).toFixed(2),
          associatedModel: data
        }
        this.$set(this.items, data.id, item);
        this.calOrder();
      },
      loadCart: function(){
      },
      cal_discount: function(){
          let type = this.order.discount_type;
          let discount = this.order.discount;
          let total = this.order.total;
          let total_discount = 0;          

          if (discount > 0 && total > 0) {
              if (type=='flat') {
                total_discount = discount
              }if(type=='percentage'){
                total_discount =total * discount/100;
              }
          }
          if(type=='guest'){
            total_discount =total * 100/100;
          }
          if (total_discount > total) {
            total_discount = 0;
            this.order.discount = 0;
          }
          this.order.total_discount = total_discount;
          console.log('total_discount')
          return this.order.total_discount;
      },
      calOrder: function(){
        let  total_item  = this.ObjectLength(this.items);
        let  discount  = this.order.discount;
        let  grand_total  = this.order.grand_total;
        let  collected  = this.order.collected;
        let  change  = this.order.change;

        let total = this.total();

        let  total_discount  = this.cal_discount();
        grand_total = total-total_discount;
        change = collected - grand_total;

        this.order.total_item  = total_item;
        this.order.total  = total;
        this.order.discount  = discount;
       this.order.total_discount  = total_discount;
        //this.order.total_discount  = 0;
        this.order.grand_total  = grand_total;
        this.order.collected  = this.order.collected;
        this.order.change  = change;
        return this.order;
      },
      total:function () {
        let total =0;
        $.each(this.items, function(key, value) {
            total = total + Number(value.subtotal);
        });
        this.order.total = total
        return total;
      },
    removeItem: function(item){
        this.$delete(this.items,item.id);
        this.calOrder();
        return true;
    },
    save: function(type){

      // let data = new FormData;
      // data.append('name', this.items.name);
      // data.append('table', this.items.table);
      // data.append('kot', this.items.kot);
      // data.append('kot', this.items.kot);
      // data.append('type',type);
      this.order.type = type;
      this.order.items = this.items;
      this.order.total_discount = this.cal_discount();
      axios.post('/admin/pos/store',this.order)
      .then((response) => {
        console.log(response.data);
        this.message = response.data.message;
        this.status = response.data.status;
        this.errors = {};

          if (response.status == '201') {
            this.edititem = {},
            this.items = {},
            this.order = {
              "name": '',
              "customer_id": null,
              "table": '',
              "kot": '',
              "total_item": 0,
              "total": 0,
              "discount": 0,
              "discount_type": 'flat',
              "payment_type": 'cash',
              "date": null,
              "grand_total": 0,
              "collected": 0,
              "change": 0,
              "note": null,
            };
          }
          if (response.data.print) {
            var url = '/admin/pos/print/'+response.data.print;
            window.open(url,'name','width=20')
            console.log('print'+response.data.print)
          }
      })
      .catch(error => {
        if (error.response) {
          console.log(error.response.data.errors)
          console.log(error.response.data.message)
          this.errors = error.response.data.errors;
          this.$swal({
            title: 'error!',
            text: error.response.data.message,
            icon: 'error',

          });
        }

      });
    },
    clear: function(){
       axios.post('/admin/pos/clear')
      .then((response) => {
        this.edititem = {},
        this.name = '',
        this.table = '',
        this.kot = '',
        this.items = {},
        this.order = {
            "name": '',
            "customer_id": null,
            "table": '',
            "kot": '',
            "total_item": 0,
            "total": 0,
            "discount": 0,
            "discount_type": 'flat',
            "payment_type": 'cash',
            "date": null,
            "grand_total": 0,
            "collected": 0,
            "change": 0,
            "note": null,
        };
        if (this.response.status == 200) {
          this.clearAll();
          this.$swal({
            title: 'Success!',
            text: 'All Cleard',
            icon: 'success',
          });
        }
      })
    },
    billingModel: function(){
       $('#edit-payment').modal('show');
    },
    editModel: function(item){
       $('#edit-item').modal('show');
      return this.edititem = item;
    },
     updateQuantity: function(item){
      console.log(item);
    },
    closeModel: function(){
       $('#edit-item').modal('hide');
    },
    closePaymentModel: function(){
       $('#edit-payment').modal('hide');
    },
    ObjectLength: function (object ) {
      var length = 0;
      for( var key in object ) {
        if( object.hasOwnProperty(key) ) {
          ++length;
        }
      }
      return length;
    },
  }
}
</script>

<style>
.modal-md .form-group {
    margin-bottom: 1rem;
}
</style>
