<template>
	<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Billing Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <div class="row">
                  <div class="col-sm-3">
                    <label for="message-text" class="col-form-label">Total</label>
                    <input type="number" class="form-control" readonly v-model="order.total">
                  </div>

                  <div class="col-sm-3">
                    <label for="message-text" class="col-form-label">Discount Type</label>
                    <select name="discount_type" id="discount_type" v-model="order.discount_type" class="form-control">
                      <option value="flat">Flat</option>
                      <option value="percentage">Percentage</option>
                      <option value="guest">Special Guest</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <label for="message-text" class="col-form-label">Discount</label>
                    <input type="number" class="form-control" v-model="order.discount">
                  </div>
                  <div class="col-sm-3">
                    <label for="message-text" class="col-form-label">Payment Type</label>
                    <select name="" id="" class="form-control" v-model="order.payment_type">
                      <option value="cash">Cash</option>
                      <option value="credit">Credit</option>
                    </select>
                  </div>
              </div>
          </div>
          <div class="form-group" v-if="customers">
              <div class="row" v-if="order.payment_type == 'credit'">
                  <div class="col-sm-12">
                    <label for="message-text" class="col-form-label">Customer</label>                    
                    <v-select :options="customers" :reduce="label => label.code" v-model="order.customer_id" @change="loadcustomer()" ></v-select>
                  </div>

                  <div class="col-sm-2" v-if="customer">
                    <img :src="customer.image" class="img-thumbnail" width="80px" alt="">
                  </div>
                  <div class="col-sm-4" v-if="customer">
                    <b>Name </b> {{ customer.name }}<br>
                    <b>Phone </b> {{ customer.phone }}<br>
                    <b>Address </b> {{ customer.address }}<br>
                    <b>Balence {{ customer.balance  }}</b> <br>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <div class="row">
                  <div class="col-sm-3">
                    <label for="message-text" class="col-form-label">Date</label>
                    <input type="date" class="form-control" v-model="order.date">
                  </div>
                  <div class="col-sm-3">
                    <label for="message-text" class="col-form-label">Payable</label>
                    <input type="number" class="form-control" readonly v-model="order.grand_total">
                  </div>
                  <div class="col-sm-3">
                    <label for="message-text" class="col-form-label">Change</label>
                    <input type="number" class="form-control" readonly v-model="order.change">
                  </div>
                  <div class="col-sm-3">
                    <label for="message-text" class="col-form-label">Collected</label>
                    <input type="number" class="form-control" v-model="order.collected">
                  </div>
              </div>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Note:</label>
            <textarea class="form-control" id="message-text" v-model="order.note" ></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button @click="saveBilling()" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</template>
<script>
	export default{

	    data: function () {
	      return {
          customers: null,
          customer: null,
	        collected: 0,
	        loading: true,
	        message: '',
	        errors: {},
	      }
	    },
        watch:{
            'order.collected'(){
              this.refress();
            },
            'order.discount_type'(){
              this.refress();
            },
            'order.discount'(){
              this.refress();
            },
            'order.customer_id'(){
              this.loadcustomer();
            },
        },
	    props: ['order'],
	    mounted() {
        this.getcustomers();

	    },
	    methods:{

        getcustomers: function(){
          
          axios.get('/admin/customers/get-with-code',).then((response) => {
                this.customers = response.data.data;
            })
            .catch(error => {               
            });
        },
        loadcustomer: function(){
          
          axios.get('/admin/customers/getitem/' + this.order.customer_id).then((response) => {
                this.customer = response.data.data;
            });
        },
	    	saveBilling: function(){
	    		this.$eventBus.$emit('payment-saved');
				},
        refress: function(){
          let total_discount = this.cal_discount();
          console.log('total_discount  '+total_discount)
          this.order.total_discount =  total_discount;
          this.order.grand_total =  this.order.total - total_discount;
          this.order.change = Number(this.order.collected - this.order.grand_total).toFixed(2);
        },
        
      cal_discount: function(){
          let type = this.order.discount_type;
          let discount = this.order.discount;
          let total = this.order.total;
          let total_discount = 0;          

          if (discount > 0 && total > 0) {
              if (type=='flat') {
                total_discount = discount
              }if(type=='percentage'){
                total_discount =total * discount/100;
              }
          }
          if(type=='guest'){
            total_discount =total * 100/100;
          }
          if (total_discount > total) {
            total_discount = 0;
            this.order.discount = 0;
          }
          this.order.total_discount = total_discount;
          return this.order.total_discount;
      },

	  	},
	}
</script>