<template>
	<div class="card" >
    <img :src="product.image" class="card-img-top" alt="..." @click="addToCart">
    <div class="card-body">
      <h6 class="card-title" @click="addToCart">{{ product.name }}</h6>
      <b @click="addToCart">
        Price : ৳ {{ product.price }}<br>
        Stock : <span v-if="product.status" class="text-success">In Stock</span>
                <span v-else class="text-warning">Out Stock</span><br>
      </b>
    </div>
  </div>
</template>

<script>
    export default {
      components:{

        },
        data: function () {
            return {
                loading: true,
                file: '',
                message: '',
                errors: {},
            }
        },
        props: ['product'],
        mounted() {

        },
        methods: {
            addToCart: function(){
                this.$eventBus.$emit('item-added',this.product);
            },
        }
    }
</script>