<template>
    <div>
        <span class="qty-control">
            <span class="dn" @click="minus">-</span>
            <input type="number" v-model="quantity" min="1" max="100"/>
            <span class="up" @click="plus">+</span>
        </span>
    </div>
</template>

<script>
    export default {
      components:{

        },
        data: function () {
            return {
                quantity: 0,
                loading: true,
                file: '',
                message: '',
                loaded: 1,
                errors: {},
            }
        },
        props: ['item',],
        watch:{
            'item'(){
                this.quantity = Number(this.item.quantity);
                this.note = this.item.note;
            },
            'quantity'(){
                this.item.quantity = Number(this.quantity);
                //
            },
            'item.quantity'(){
                if(this.item.quantity< 0){
                    alert('minimum quantaty is 1')
                    this.item.quantity = Number(1);
                }
                if(this.loaded==2){
                    this.item.subtotal = Number(this.item.quantity * this.item.price).toFixed(2);
                }
                
                this.updateCartitem(); 
            },
            'item.subtotal'(){
                 this.item.subtotal = Number(this.item.subtotal).toFixed(2);
                console.log('subtotal '+this.item.subtotal)
                this.updateCartitem(); 
            },
        },
        updated() {
          this.$nextTick(function () {
            this.loaded =2;
            // Code that will run only after the
            // entire view has been re-rendered
          })
        },
        mounted() {
            this.quantity = Number(this.item.quantity);
            this.note = this.item.note;
        },
        methods: {
            minus: function(){
                if (this.quantity>1) {
                    this.quantity = Number(this.quantity) -1;
                    return Number(this.quantity);
                }
            },
            plus: function(){
                this.quantity = Number(this.quantity) +1;
                    return Number(this.quantity);
            },
            updateCartitem: function(){                
                this.$eventBus.$emit('cart-upated');
            },
        }
    }
</script>

<style scoped>
    .qty-control {
    width: 128px;
    border: 1px solid #aaa;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    min-height: 35px;
    position: relative;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.qty-control span.dn {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
}

.qty-control input {
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    width: 100% !important;
    text-align: center;
    font-size: 14px;
    border-top: 0;
    border-bottom: 0;
    font-family: myriadProBoldCond;
    background: #fff;
    color: #666;
    font-weight: bold;
}
button, input {
    overflow: visible;
}

.qty-control span {
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    color: #666;
    margin-top: -3px;
    line-height: 24px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
