<template>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="load-wraper" v-if="isLoading">
            <loader id="loader" :color="'rgb(29 41 57)'" ></loader>
        </div>
        <div class="row">
        <div class="col-6">
              
          <h6 class="br-section-label">Customer List</h6>
          <p class="br-section-text"></p>
        </div>
        <div class="col-6">
          <a href="/admin/customers/create" class="btn btn-primary float-right">Add New</a>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-md-2">
            <div class="form-group">
                <select  v-model="quarry.sort" name="sort" id="sort" class="form-control">
                    <option value="0">A-Z</option>
                    <option value="1">Z-A</option>
                </select>
                <span class="text-muted">Sort</span>
            </div>
        </div> -->
        <div class="col-sm-8">
            <div class="form-group">
                <input type="text" v-model.lazy="quarry.name" name="name" class="form-control" placeholder="Customer Name">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <button type="button" class="btn btn-outline-success btn-block" @click="loadcustomers()">Search</button>
            </div>
        </div>
    </div>

    <div class="bd bd-gray-300 rounded table-responsive">
	<table class="table mg-b-0">
        <thead class="bg-info text-white">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Date</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
			<tr v-for="(customer, index) in customers" v-bind:id="'data'+customer.id">
		      <th scope="row">{{ ((laravelData.current_page-1)*laravelData.per_page) + index +1 }}</th>
		      <td>{{ customer.name }}</td>
              <td>{{ customer.phone }}</td>
              <td>{{ customer.address }}</td>
              <td>{{ customer.created_at | moment("D-MMMM-YYYY") }}</td>
		      <td class="text-center">		        
                <div class="btn-group">
                    <a  v-bind:href="'/admin/customers/show/'+customer.id"class="btn btn-info btn-sm">View</a>
                    <a  v-bind:href="'/admin/customers/edit/'+customer.id"class="btn btn-secondary btn-sm">Edit</a>
                        <a href="javascript:viod()"  class="btn btn-warning btn-sm" @click.prevent="deleteData(customer, index)">Delete</a>
                </div>
		      </td>
		    </tr>	
        </tbody>
    </table> 
    </div><!-- bd -->
    <pagination :data="laravelData" @pagination-change-page="loadcustomers" :limit="10"></pagination>
    </div><!-- br-section-wrapper -->
  </div>  
</template>


<script>
import { SpinnerLoader } from 'vue-spinners-css';
import pagination from 'laravel-vue-pagination'
    export default {
      components:{
            pagination,
            'loader':SpinnerLoader,
        },
        data: function () {
            return {
                laravelData: {},
                customers: {},
                loading: true,
                file: '',
                isLoading: true,
                quarry: {
                  'perpage':'50',
                  'type':'',
                  'sort':0,
                  'name':'',
                },
            }
        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
        },
        watch: {
            quarry: {
                handler: function () {
                    this.loadcustomers();
                },
                deep: true
            }
        },
        mounted() {
            this.isLoading = false,
            this.loadcustomers();
        },
        methods: {
            loadcustomers: function (page =1) {  
             this.$eventBus.$emit('loader', true);    
                axios.get('/admin/customers/get?page=' + page,{
                    params: this.quarry
                }).then((response) => {
                    if (response.status == 200) {
                        this.laravelData = response.data;
                        this.customers = response.data.data;
                    }                    
                })
                this.$eventBus.$emit('loader', false);
            },
            destroy: function (customer, index) {
                 this.$eventBus.$emit('loader', true);
                axios.post('/admin/customers/destroy/'+customer.id)
                .then((response) => {                  
                    if (response.status == 201) {
                        document.getElementById('data'+customer.id).style.display = "none";
                        this.$toaster.success(response.data[0])
                    }                    
                })
                .catch(error => {this.ifErrors(error)});
                this.$eventBus.$emit('loader', false);
            },
            deleteData: function (customer, index) {
               
               this.$swal({
                    title: 'Are you sure you want to delete '+customer.invoice_id+'?',
                    text: "If you delete this, it will be gone forever.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                })
                .then((result) => {
                  if (result.value) {
                    if (result.isConfirmed){
                      this.destroy(customer, index);
                    }
                  }

                });
            },
        }
    }
</script>