<template>
  <div class="br-pagebody">
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-2">
        <img v-if="data.image" :src="data.image" class="img-thumbnail" width="130px" alt="">
        <img v-else src="https://via.placeholder.com/500" class="img-thumbnail" width="130px" alt="">
      
      </div>
      <div class="col-3">
        <h6 class="br-section-label"><strong>Name : {{ data.name }}</strong></h6>
        <b>Phone :</b> {{ data.phone }}<br>
        <b>Email :</b> {{ data.email }}<br>
        <b>Address :</b> {{ data.address }}<br>      
      </div>
      <div class="col-3">
          <b>Previous Balance : {{ Number(details.pre_balance).toFixed(2)  }}</b> <br>
          <b>Credit  : {{ Number(details.credit).toFixed(2)  }}</b><br>
          <b>Debit  : {{ Number(details.debit).toFixed(2)  }}</b><br>          
          <b>Balance : {{ Number(details.balence).toFixed(2)  }}</b><br>
      </div>
      <div class="col-3">
        <a :href="'/admin/customers'" class="btn btn-primary float-right">Customers</a>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-2">
          <div class="form-group">
              <select  v-model="quarry.sort" name="sort" id="sort" class="form-control">
                  <option value="1">Latest</option>
                  <option value="0">Oldest</option>
              </select>
              <span class="text-muted">Sort</span>
          </div>
      </div>
      <div class="col-md-2">
          <div class="form-group">
              <select  v-model="quarry.reason" name="per_page" id="per-page" class="form-control">
                  <option value="">Any</option>
                  <option  v-for="(reason , index) in reasons" :value="reason.name" class="text-uppercase">{{ reason.full_name }}</option>
              </select>
              <span class="text-muted">Category {{ reason }}</span>
          </div>
      </div>
      <div class="col-md-2">
          <div class="form-group">
              <input type="date" class="form-control" name="start_date" v-model="quarry.start_date">
              <span class="text-muted">Start Date</span>
          </div>
      </div>
      <div class="col-md-2">
          <div class="form-group">
              <input type="date" class="form-control" name="end_date" v-model="quarry.end_date">
              <span class="text-muted">End Date</span>
          </div>
      </div>
      <div class="col-sm-2">
            <div class="form-group">
                <button type="button" class="btn btn-outline-success btn-block" @click="loadcustomers()">Search</button>
            </div>
      </div>
    </div>

          <div  class="table-wrapper">
        <table id="datatable1" class="table display responsive nowrap">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th>Date</th>
              <th>Category</th>
              <th>Credit</th>
              <th>Debit</th>
              <th>Balance</th>
              <!-- <th class="text-center">Action</th> -->
            </tr>
          </thead>
          <!-- :class="hideShow(credit,reason)" -->
          <tbody>
            <tr v-if="credits" v-for="(credit , index) in credits" :id="'data'+credit.id" >
              <td scope="row">{{ index +1 }}</td>
              <td class="text-uppercase">{{ credit.date | moment("D-MMMM-YYYY") }}</td>
              <td class="text-uppercase">{{ credit.reason }}</td>
              <td> 
                <p v-if="credit.credit ==1">TK. {{ Number(credit.amount).toFixed(2) }}</p>
                <p v-else>-</p> 
              </td>
              <td>
                <p v-if="credit.debit ==1">TK. {{ Number(credit.amount).toFixed(2) }}</p>
                <p v-else>-</p>
              </td>
              <td>
                <p>TK. {{ Number(credit.current_balance).toFixed(2) }}</p>
              </td>
              <!-- <td class="text-center">
                <a :href="'/admin/credits/show/'+credit.id"  class="btn btn-outline-secondary btn-sm ml-2"><i class="fa fa-eye"></i></a>
              </td> -->
            </tr>
          </tbody>
        </table>
          </div><!-- bd -->
  </div><!-- br-section-wrapper -->
</div><!-- br-pagebody -->
</template>

<script>
  export default {
    components:{
    },
    data: function () {
      return {
        quarry: {
          'perpage':'10',
          'type':'',
          'reason':'',
          'customer_id':null,
          'sort':0,
          'date':null,
          'start_date':'',
          'end_date':'',
          'name':'',
        },
        laravelData: {},
        credits: null,
        loading: true,
        details: '',
        message: '',
        errors: {},
      }
    },
    mounted() {
      this.quarry.start_date =  moment(new Date() ).startOf('month').format('YYYY-MM-DD');
      this.quarry.end_date =  moment(new Date() ).endOf('month').format('YYYY-MM-DD');
      this.quarry.customer_id =  this.data.id;
      this.loadcustomers();
    },
    created() {
     
    },
    beforeDestroy() {
        
    },
    watch: {
        quarry: {
            handler: function () {
                this.loadcustomers();
            },
            deep: true
        }
    },

    props:['data','reasons'],
    methods:{
      
    loadcustomers: function(page = 1){
       axios.get('/admin/customers/reports/'+ this.data.id+'?page=' + page,{
                        params: this.quarry
            }).then((response) => {
          this.credits = response.data.data;
          this.details = response.data.details;
        });
    },
  }
}
</script>
