<template>  
  
      <div  class="table-wrapper">
        <table id="datatable1" class="table display responsive nowrap">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th>Date</th>
              <th>Category</th>
              <th>Customer</th>
              <th>Credit</th>
              <th>Debit</th>
              <th>Balance</th>
              <!-- <th class="text-center">Action</th> -->
            </tr>
          </thead>
          <!-- :class="hideShow(credit,reason)" -->
          <tbody>
            <tr v-for="(credit , index) in credits" :id="'data'+credit.id" >
              <td scope="row">{{ index +1 }}</td>
              <td class="text-uppercase">{{ credit.date | moment("D-MMMM-YYYY") }}</td>
              <td class="text-uppercase">{{ credit.reason }}</td>
              <td class="text-uppercase">{{ credit.customer.name }} <br>{{ credit.customer.phone }}</br></td>
              <td> 
                <p v-if="credit.credit ==1">TK. {{ Number(credit.amount).toFixed(2) }}</p>
                <p v-else>-</p> 
              </td>
              <td>
                <p v-if="credit.debit ==1">TK. {{ Number(credit.amount).toFixed(2) }}</p>
                <p v-else>-</p>
              </td>
              <td>
                <p>TK. {{ Number(credit.current_balance).toFixed(2) }}</p>
              </td>
              <!-- <td class="text-center">
                <a :href="'/admin/credits/show/'+credit.id"  class="btn btn-outline-secondary btn-sm ml-2"><i class="fa fa-eye"></i></a>
              </td> -->
            </tr>
          </tbody>
        </table>

      </div>
</template>


<script>
    export default {
      components:{},
        mounted() {

        },
        props: ['credits','reason'],
        data: function () {
            return {
                loading: true,
                file: '',
                isLoading: true,
            }
        },
        mounted() {
            //console.log(this.reason+'dsdsd')
        },

        methods:{

            hideShow: function (data,reason) {
              if (reason!='') {
                if (data.reason != reason) {
                  return 'd-none';
                }
              }
              
            },

            deleteData: function (credit, index) {
               
               this.$swal({
                    title: 'Are you sure you want to delete '+credit.name+'?',
                    text: "If you delete this, it will be gone forever.",
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                })
                .then((result) => {
                  if (result.value) {
                    if (result.isConfirmed){
                      this.deletecredit(credit, index);
                    }
                  }

                });
            },

            deletecredit: function (credit, index) {
                axios.post('/admin/credits/destroy/'+credit.id)
                .then((response) => {
                    console.log(response.data);
                  
                  if (response.status == 202) {
                        document.getElementById('data'+credit.id).style.display = "none";
                      this.$swal({
                    title: 'Success!',
                    text: response.data.message,
                    icon: 'success',
                    //confirmButtonText: 'Cool'
                  });
                        this.errors = {};
                    }else{
                        console.log(response.data);
                        this.$swal({
                          title: 'Error!',
                          text: response.data,
                          icon: 'error',
                        });
                    }
                    
                })
                .catch(error => {
                    console.error(error.response.data.errors)
                    console.error(error.response.data.message)
                    this.errors = error.response.data.errors;
                    this.$swal({
                          title: 'error!',
                          text: error.response.data.message,
                          icon: 'error',
                          //confirmButtonText: 'Cool'
                        });
                   
                 });
            },
      }
    }
</script>