<template>

<div class="br-pagebody m-0 p-0">
    <div class="br-section-wrapper">
        <div class="load-wraper" v-if="isLoading">
            <loader id="loader" :color="'rgb(29 41 57)'" ></loader>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="new-credit-tab" data-toggle="tab" href="#new-credit" role="tab" aria-controls="new-credit" aria-selected="true">Credit By Date</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="credit-this-month-tab" data-toggle="tab" href="#credit-this-month" role="tab" aria-controls="credit-this-month" aria-selected="false">This Month</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="payroll-by-month-tab" data-toggle="tab" href="#payroll-by-month" role="tab" aria-controls="payroll-by-month" aria-selected="false">Credit By Month</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="new-credit" role="tabpanel" aria-labelledby="contact-tab">
             <credit-by-date :reasons="reasons"></credit-by-date>
          </div>
          <div class="tab-pane fade " id="credit-this-month" role="tabpanel" aria-labelledby="credit-this-month">
             <credit-this-month :reasons="reasons"></credit-this-month>
          </div>
          <div class="tab-pane fade " id="payroll-by-month" role="tabpanel" aria-labelledby="payroll-by-month-tab">
             <credit-by-month :reasons="reasons"></credit-by-month>
          </div>
        </div>
    </div>
  </div>
</template>


<script>
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'
import { SpinnerLoader } from 'vue-spinners-css';
import creditByDate from './creditByDate'
import creditThisManth from './creditThisManth'
import creditByManth from './creditByManth.vue'
    export default {
      components:{
            'loader':SpinnerLoader,
            'credit-by-date':creditByDate,
            'credit-this-month':creditThisManth,
            'credit-by-month':creditByManth,
        },
        props: ['reasons'],
        data: function () {
            return {
                loading: true,
                file: '',
                isLoading: true,
            }
        },
        watch: {

        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
        },
        mounted() {
            this.isLoading = false;
        },
        methods: {
            
        }
    }
</script>