<template>  
    <div class="br-pagebody m-0 p-0">
        <div class="br-section-wrapper ">
            <div class="row m-0 p-0">
                <div class="col-6">
                    <h6 class="br-section-label">Transaction List</h6>
                </div>
                <div class="col-6">                    
                </div>
            </div>          
            <div class="row">                
                <div class="col-md-2">
                    <div class="form-group">
                        <select  v-model="quarry.sort" name="sort" id="sort" class="form-control">
                            <option value="1">Latest</option>
                            <option value="0">Oldest</option>
                        </select>
                        <span class="text-muted">Sort</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select  v-model="quarry.reason" name="per_page" id="per-page" class="form-control">
                            <option value="">Any</option>
                            <option  v-for="(reason , index) in reasons" :value="reason.name" class="text-uppercase">{{ reason.full_name }}</option>
                        </select>
                        <span class="text-muted">Category {{ reason }}</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="month" class="form-control" name="month" v-model="quarry.month">
                        <span class="text-muted">Month</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" v-model.lazy="quarry.name" name="name" class="form-control" placeholder="Customer Name">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-success btn-block" @click="loadcredits()">Search</button>
                    </div>
                </div>

                <summery :details="details"  :quarry="quarry" ></summery>
            </div>
            <credit-table :credits="credits" :reason="reason"></credit-table>
        </div>
    </div>
</template>

<script>
    import creditTable from './creditTable';
    import summery from './summery.vue';
    export default {
        components:{
            'credit-table':creditTable,summery,
        },
        props: ['reasons'],
        data: function () {
            return {
                quarry: {
                    'perpage':'50',
                    'status':'',
                    'sort':1,
                    'reason':'',
                    'month':'',
                    'name':'',
                },
                details: {},
                reason: '',
                categories: {},
                credits: {},
                loading: true,
                file: '',
                message: '',
                errors: {},
            }
        },
        mounted() {
            this.quarry.month =  moment(new Date() ).format('YYYY-MM');
            this.loadcredits();
        },
        created() {

        },
        beforeDestroy() {

        },
        watch: {
            quarry: {
                handler: function () {
                    this.loadcredits();
                },
                deep: true
            }
        },
        methods:{

            loadcredits: function(page = 1){
                axios.get('/admin/reports/credits/get?page=' + page,{
                    params: this.quarry
                }).then((response) => {
                    this.details = response.data.details;
                    this.credits = response.data.data;
                });
            },
        }
    }
</script>