<template> 

    <div class="col-sm-4" >
        <p v-if="quarry.reason ==''">
            <b>Previous Balance : {{ Number(details.pre_balance).toFixed(2)  }}</b> <br>
            <b> Credit  : {{ Number(details.credit).toFixed(2)  }}</b><br>
            <b>Debit  : {{ Number(details.debit).toFixed(2)  }}</b><br> 
            <b> Balance : {{ Number(details.balence).toFixed(2)  }}</b><br>            
        </p>
        <p v-else>
            <b> Credit  : {{ Number(details.credit).toFixed(2)  }}</b><br>
            <b>Debit  : {{ Number(details.debit).toFixed(2)  }}</b><br> 
            <b>Total : {{ details.total }}</b>
        </p>
    </div>
</template>

<script>
    export default {
        components:{
           
        },
        props: ['details','quarry'],
        data: function () {
            return {
                errors: {},
            }
        },
        mounted() {
        },
        created() {

        },
        beforeDestroy() {

        },
        watch: {
        },
        methods:{
        }
    }
</script>