<template>  
    <div class="br-pagebody m-0 p-0">
        <div class="br-section-wrapper ">
            <div class="row m-0 p-0">
                <div class="col-6">
                    <h6 class="br-section-label">Orders</h6>
                </div>
                <div class="col-6">                    
                </div>
            </div>          
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <select  v-model="quarry.sort" name="sort" id="sort" class="form-control">
                            <option value="1">Latest</option>
                            <option value="0">Oldest</option>
                        </select>
                        <span class="text-muted">Sort</span>
                    </div>
                </div>            
                <div class="col-md-2">
                    <div class="form-group">
                        <select  v-model="quarry.type" name="types" id="types" class="form-control">
                            <option v-for="(type,index) in types" :value="type.name" class="text-uppercase">{{ type.name.toUpperCase() }}</option>
                        </select>
                        <span class="text-muted">Type</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="date" class="form-control" name="start_date" v-model="quarry.start_date">
                        <span class="text-muted">Start Date</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="date" class="form-control" name="end_date" v-model="quarry.end_date">
                        <span class="text-muted">End Date</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" v-model.lazy="quarry.name" name="name" class="form-control" placeholder="Name Or Order Id">
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-success btn-block" @click="loadOrders()">Search</button>
                    </div>
                </div>
                <div class="col-sm-2">
                    <b>Total Item Count : {{ details.item_count }}</b><br>
                    <b>Total Price : {{ details.total }}</b><br>
                </div>
            </div>
            <order-table :orders="orders" ></order-table>
        </div>
    </div>
</template>

<script>

    import OrderTable from './OrderTable';
    export default {
        components:{
            'order-table':OrderTable,
        },
        props:['types'],
        data: function () {
            return {
                quarry: {
                    'perpage':'50',
                    'status':'',
                    'sort':1,
                    'type':'chinese',
                    'start_date':null,
                    'end_date':null,
                    'name':'',
                },
                details: {},
                reason: '',
                categories: {},
                orders: {},
                loading: true,
                file: '',
                message: '',
                errors: {},
            }
        },
        mounted() {
            this.quarry.start_date =  moment(new Date() ).format('YYYY-MM-DD');
            this.quarry.end_date =  moment(new Date() ).format('YYYY-MM-DD');
            this.loadOrders();
        },
        created() {

        },
        beforeDestroy() {

        },
        watch: {
            quarry: {
                handler: function () {
                    this.loadOrders();
                },
                deep: true
            }
        },
        methods:{
            
            loadOrders: function(page = 1){
                axios.get('/admin/reports/orders/get?page=' + page,{
                    params: this.quarry
                }).then((response) => {
                    this.details = response.data.details;
                    this.orders = response.data.data.data;
                });
            },
        }
    }
</script>