<template>  
  
      <div  class="table-wrapper">
        <table class="table display responsive nowrap datatable">
              <thead>
                <tr>
                  <th class="text-center">Sl</th>
                  <th class="text-center">ID</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Price</th>
                  <th class="text-center">Quantity</th>
                  <th class="text-center">Total</th>
                  <th class="text-center">Date</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                
                <tr v-for="(order , index) in orders" :id="'data'+order.id">
                  <th scope="row">{{ index +1 }}</th>
                  <th >{{ order.order_code }}</th>
                  <th class="text-center">{{ order.product_name }}</th>
                  <th class="text-center">{{ order.price }}</th>
                  <th class="text-center">{{ order.quantity }}</th>
                  <th class="text-center">{{ order.subtotal }}</th>
                  <th class="text-center">{{ order.date | moment("D-MMMM-YYYY") }}</th>
                  <td class="text-center">
                    <div class="btn-group">
                      <a :href="'/admin/orders/show/'+order.order_id"  class="btn btn-info btn-sm">View</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
</template>


<script>
    export default {
      components:{},
        mounted() {

        },
        props: ['orders'],
        mounted() {
             
        },

        methods:{
          
      }
    }
</script>