<template>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="load-wraper" v-if="isLoading">
            <loader id="loader" :color="'rgb(29 41 57)'" ></loader>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="stock-list-tab" data-toggle="tab" href="#stock-list" role="tab" aria-controls="stock-list" aria-selected="true">Stocks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="stock-out-tab" data-toggle="tab" href="#stock-out" role="tab" aria-controls="stock-out" aria-selected="false">Stock out</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="stock-list" role="tabpanel" aria-stockledby="contact-tab">
             <stock-list :types="types"></stock-list>
          </div>
          <div class="tab-pane fade " id="stock-out" role="tabpanel" aria-stockledby="stock-out">
             <stock-out></stock-out>
          </div>
        </div>
    </div>
  </div>
</template>


<script>
import { SpinnerLoader } from 'vue-spinners-css';
import StockList from './StockList.vue';
import StockOut from './StockOut.vue';
    export default {
      components:{
            'loader':SpinnerLoader,
            'stock-list':StockList,
            'stock-out':StockOut,
        },
        data: function () {
            return {
                loading: true,
                isLoading: true,
            }
        },
        props: ['types'],
        watch: {

        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
        },
        mounted() {
            this.isLoading = false;
        },
        methods: {
            
        }
    }
</script>