<template>
  <div class="col-md-12 mt-3">

            <div class="row">                
                <!-- <div class="col-md-2">
                    <div class="form-group">
                        <select  v-model="quarry.sort" name="sort" id="sort" class="form-control">
                            <option value="1">Latest</option>
                            <option value="0">Oldest</option>
                        </select>
                        <span class="text-muted">Sort</span>
                    </div>
                </div> -->
                <div class="col-md-2">
                    <div class="form-group">
                        <select  v-model="quarry.type" name="per_page" id="per-page" class="form-control">
                            <option value="">Any</option>
                            <option :value="type.id" v-for="(type,index) in types">{{ type.name }}</option>
                            
                        </select>
                        <span class="text-muted">Type</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" v-model.lazy="quarry.name" name="name" class="form-control" placeholder="Item Name">
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-success btn-block" @click="loadStocks()">Search</button>
                    </div>
                </div>
            </div>
    <div class="bd bd-gray-300 rounded table-responsive">
      <table class="table mg-b-0">
            <thead class="bg-info text-white">
              <tr>
                <th>ID</th>
                <th>Item Name</th>
                <th>Type</th>
                <th>Quantity</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
          <tr v-for="(stock, index) in stocks"  v-bind:id="'data'+stock.id">
              <th scope="row">{{ index+1 }}</th>
              <td>{{ stock.name }}</td>
              <td>{{ stock.type }}</td>
              <td>{{ Number(stock.quantity).toFixed(1) }} <small>{{ stock.unit }}</small></td>
              <td class="text-center">            
                <div class="btn-group">
                    <a  :href="'/admin/stocks/show/'+stock.id"class="btn btn-info btn-sm">History</a>
                    <a  href="javascript:viod(0)" @click="stockOutShow(stock)" class="btn btn-primary btn-sm">Stock Out</a>
                </div>
              </td>
            </tr>
            </tbody>
        </table> 
    </div><!-- bd -->
  </div>
</template>
<script>
    export default {
      components:{

      },
      data: function () {
          return {
              stocks: {},
              quarry: {
                  'perpage':'50',
                  'type':'',
                  'sort':0,
                  'name':'',
              },
          }
      },
      props: ['types'],
      watch: {
          quarry: {
              handler: function () {
                  this.loadStocks();
              },
              deep: true
          }
      },
      created() {
        this.$eventBus.$on('reload', (data)=>{
            this.loadStocks(this.date);
         });
      },
      mounted() {
        this.loadStocks();
      },
      methods:{
        loadStocks: function (argument) {
          this.stocks = {};
            this.$eventBus.$emit('loader', true);
              axios.get('/admin/stocks/get',{
                    params: this.quarry
                }).then((response) => {
                  if (response.status == 200) {
                      this.stocks = response.data;
                  }                    
              })
            this.$eventBus.$emit('loader', false);
        },
        stockOutShow: function (data) {
           $('#stock-out-tab').trigger('click');

           this.$eventBus.$emit('stock-out-tab', {'data':data,'stocks':this.stocks});
        },
      },
    }
</script>