<template>
  <div class="col-md-12 mt-3">

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <select  v-model="quarry.sort" name="sort" id="sort" class="form-control">
                            <option value="0">A-Z</option>
                            <option value="1">Z-A</option>
                        </select>
                        <span class="text-muted">Sort</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" v-model.lazy="quarry.name" name="name" class="form-control" placeholder="Customer Name">
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-success btn-block" @click="loadcustomers()">Search</button>
                    </div>
                </div>
            </div>
    <div class="bd bd-gray-300 rounded table-responsive">
      <table class="table mg-b-0">
            <thead class="bg-info text-white">
              <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Status</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
          <tr v-for="(customer, index) in customers"  v-bind:id="'data'+customer.id">
              <th scope="row">{{ index+1 }}</th>
              <td><img :src="customer.image" alt="" class="img-thumbnail" width="80px"></td>
              <td>{{ customer.name }}
                <br>{{ customer.phone }}
                <br>{{ customer.address }}
              </td>
              <td>{{ Number(customer.balance).toFixed(2) }}</td>
              <td>
                <span v-if="customer.balance_status==1"  class="btn btn-info btn-sm">Normal</span>
                <span v-if="customer.balance_status==0"  class="btn btn-warning btn-sm">Due</span>
                <span v-if="customer.balance_status==2"  class="btn btn-success btn-sm">Normal</span>
              </td>
              <td class="text-center">            
                <div class="btn-group">
                    <a  :href="'/admin/customers/show/'+customer.id"class="btn btn-info btn-sm" title="show"><i class="fa fa-eye"></i></a>
                    <a  href="javascript:viod(0)" @click="customerCash(customer)" class="btn btn-primary btn-sm">Cash In</a>
                </div>
              </td>
            </tr>
            </tbody>
        </table> 
    </div><!-- bd -->
  </div>
</template>
<script>
    export default {
      components:{

      },
      data: function () {
          return {
              customers: {},
              quarry: {
                  'perpage':'50',
                  'type':'',
                  'sort':0,
                  'name':'',
              },
          }
      },
      watch: {
          quarry: {
              handler: function () {
                  this.loadcustomers();
              },
              deep: true
          }
      },
      created() {
        this.$eventBus.$on('reload', (data)=>{
            this.loadcustomers(this.date);
         });
      },
      mounted() {
        this.loadcustomers();
      },
      methods:{
        loadcustomers: function (argument) {
          this.customers = {};
            this.$eventBus.$emit('loader', true);
              axios.get('/admin/reports/customers/get',{
                    params: this.quarry
                }).then((response) => {
                  if (response.status == 200) {
                      this.customers = response.data.data;
                  }                    
              })
            this.$eventBus.$emit('loader', false);
        },
        customerCash: function (data) {
           $('#customer-cash-tab').trigger('click');
           this.$eventBus.$emit('customer-cash-tab', {'data':data,'customers':this.customers});
        },
      },
    }
</script>