<template>
   <div class="row  mt-3" v-if="cash.customer_id">
      <div class="col-sm-4" v-if="customer">
        <img :src="customer.image" class="img-thumbnail" width="150px" alt="">
        <b>Name : {{ customer.name }}</b> <br>
        <b>Phone :</b> {{ customer.phone }}<br>
        <b>Address :</b> {{ customer.address }}<br>
        <b>Balance :</b> {{ customer.balance }} <br>
        <span v-if="customer.balance_status==1"  class="btn btn-info btn-sm">Normal</span>
        <span v-if="customer.balance_status==0"  class="btn btn-warning btn-sm">Due</span>
        <span v-if="customer.balance_status==2"  class="btn btn-success btn-sm">Normal</span>
      </div>
      <div class="col-4">
         <div class="form-group">
            <label for="" class="form-control-label">Balance</label>
            <input type="number" step="any" class="form-control" id="type" v-model="customer.balance" readonly>
         </div>
         <div class="form-group">
            <label for="" class="form-control-label">Type</label>
            <select name="type" class="form-control" id="type" v-model="cash.type">
                <!-- <option value="out">cash Out</option> -->
                <option value="in">Cash In</option>
                <!-- <option value="weast">cash Damaged</option> -->
            </select>
         </div>
         <div class="form-group mt-4">
            <button type="button" class="btn btn-warning btn-block" @click="clear">Clear</button>
         </div>
      </div>
      <div class="col-4">
         <div class="form-group">
            <label for="" class="form-control-label">Date</label>
            <input class="form-control" type="date" v-model="cash.date" required>
         </div>
         <div class="form-group">
            <label for="" class="form-control-label">Amount </label>
            <input class="form-control" type="number" step="any" v-model="cash.amount" value="0" :max="999999999" min="1">
         </div>
         <div class="form-group mt-4">
            <button type="button" class="btn btn-info btn-block" @click="storecash">Save</button>
         </div>
      </div>
   </div>
</template>
<script>
    export default {
      components:{
        },
        data: function () {
            return {
                customer: {},
                cash: {},
                data: {},
                isLoading: true,
            }
        },
        watch: {
           cash: {
                handler: function () {
                  
                },
                deep: true
            },
        },
        created() {
          this.$eventBus.$on('customer-cash-tab', (data)=>{
            this.data = data.data;
            this.cash = {};
            this.cash.customer_id = data.data.id;
            this.cash.phone = data.data.phone;
            this.cash.name = data.data.name;
            this.cash.type = 'in';
            this.cash.amount = 0;
            this.cash.date = moment(new Date() ).format('YYYY-MM-DD');
            this.loadcustomer(data.data.id);
         });
        },
        mounted() {
        },
        methods: {

            loadcustomer: function(data){
              
              axios.get('/admin/customers/getitem/' + data).then((response) => {
                    this.customer = response.data.data;
                });
            },
            storecash: function () {  
             this.$eventBus.$emit('loader', true);    
                axios.post('/admin/customers/cash',this.cash).then((response) => {
                    if (response.status == 201) {
                        this.$toaster.success(response.data[0]);
                        this.clear();
                    }
                }).catch(error => {
                    console.log(error);
                    if (error.response.status ==409) {
                        this.$swal({
                          title: 'warning!',
                          text: error.response.data[0],
                          icon: 'warning',
                        });
                    }else {
                        this.ifErrors(error);
                    }
                });
                this.$eventBus.$emit('reload');
                this.$eventBus.$emit('loader', false);
            },

            clear: function () {
                this.cash = {};
                this.cash.date =  moment(new Date() ).format('YYYY-MM-DD');
            },
        }
    }
</script>
<style>
    .display-time {
    display: block;
    width: 100% !important;
    height: calc(2.6125rem + 2px) !important;
    padding: 0.65rem 0.75rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.vdatetime-input {
    padding: 8px 10px;
    font-size: 16px;
    border: solid 1px #ddd;
    color: #444;
}
</style>