<template>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="load-wraper" v-if="isLoading">
            <loader id="loader" :color="'rgb(29 41 57)'" ></loader>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="customer-list-tab" data-toggle="tab" href="#customer-list" role="tab" aria-controls="customer-list" aria-selected="true">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="customer-cash-tab" data-toggle="tab" href="#customer-cash" role="tab" aria-controls="customer-cash" aria-selected="false">Cash In</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="customer-list" role="tabpanel" aria-customerledby="contact-tab">
             <customer-list :types="types"></customer-list>
          </div>
          <div class="tab-pane fade " id="customer-cash" role="tabpanel" aria-customerledby="customer-cash">
             <customer-cash></customer-cash>
          </div>
        </div>
    </div>
  </div>
</template>


<script>
import { SpinnerLoader } from 'vue-spinners-css';
import customerList from './customerList.vue';
import customerCash from './customerCash.vue';
    export default {
      components:{
            'loader':SpinnerLoader,
            'customer-list':customerList,
            'customer-cash':customerCash,
        },
        data: function () {
            return {
                loading: true,
                isLoading: true,
            }
        },
        props: ['types'],
        watch: {

        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
        },
        mounted() {
            this.isLoading = false;
        },
        methods: {
            
        }
    }
</script>