<template>
  <div class="br-pagebody">
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-6">
            
        <h6 class="br-section-label"><strong>{{ data.name }}</strong></h6>
        <p class="br-section-text">
          <b>Previous Stock :</b>{{ Number(details.pre_balance).toFixed(2) }}<br>
          <b>In :</b> {{ Number(details.in).toFixed(2) }} |
          <b>Out :</b> {{ Number(details.out).toFixed(2) }} |
          <b>Weast :</b> {{ Number(details.weast).toFixed(2) }} |
          <b>Total :</b> {{ Number(details.total).toFixed(2) }}<br>
          <!-- <b>Reasult :</b> {{ Number(details.count).toFixed(2) }}<br> -->
          <b>Stock :</b> {{ Number(details.balance).toFixed(2) }}<br>
        </p>
      </div>
      <div class="col-6">
        <a :href="'/admin/assets'" class="btn btn-primary float-right">Assets</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
          <div class="form-group">
              <select  v-model="quarry.sort" name="sort" id="sort" class="form-control">
                  <option value="1">Latest</option>
                  <option value="0">Oldest</option>
              </select>
              <span class="text-muted">Sort</span>
          </div>
      </div>
      <div class="col-sm-2">
            <div class="form-group">
                <select name="type" id="type" class="form-control" v-model="quarry.type">
                  <option value="">Any</option>
                  <option value="in">Stock In</option>
                  <option value="out">Stock Out</option>
                  <option value="weast">Stock Damaged</option>
                </select>
            </div>
      </div>
      <div class="col-md-2">
          <div class="form-group">
              <input type="date" class="form-control" name="start_date" v-model="quarry.start_date">
              <span class="text-muted">Start Date</span>
          </div>
      </div>
      <div class="col-md-2">
          <div class="form-group">
              <input type="date" class="form-control" name="end_date" v-model="quarry.end_date">
              <span class="text-muted">End Date</span>
          </div>
      </div>
      <div class="col-sm-2">
            <div class="form-group">
                <button type="button" class="btn btn-outline-success btn-block" @click="loadStocks()">Search</button>
            </div>
      </div>
    </div>

          <div  class="table-wrapper">
            <table id="datatable1" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="text-left">Sl</th>
                  <th class="text-center">Date</th>
                  <th class="text-center">In</th>
                  <th class="text-center">Out</th>
                  <th class="text-center">Damaged</th>
                  <th class="text-center">Stock</th>
                  <th class="text-right">Action</th>
                </tr>
              </thead>
              <tbody>
                
                <tr v-for="(stock , index) in stocks">
                  <td scope="row">{{ index +1 }}</td>
                  <td class="text-left"> {{ stock.date | moment("D-MMMM-YYYY") }}</small></td>
                  <td class="text-center">
                    <p v-if="stock.in ==1">{{ Number(stock.quantity).toFixed(2) }} <small v-if="data.unit">{{ data.unit.name }}</small></p> 
                    <p v-else>-</p>
                  </td>
                  <td class="text-center">
                    <p v-if="stock.out ==1">{{ Number(stock.quantity).toFixed(2) }} <small v-if="data.unit">{{ data.unit.name }}</small></p> 
                    <p v-else>-</p>
                  </td>
                  <td class="text-center">
                    <p v-if="stock.weast ==1">{{ Number(stock.quantity).toFixed(2) }} <small v-if="data.unit">{{ data.unit.name }}</small></p> 
                    <p v-else>-</p>
                  </td>
                  <td class="text-center">
                    {{ Number(stock.balance).toFixed(2) }}
                  </td>
                  <td class="text-right">
                    <a @click.prevent="deleteData(stock,index)" href="jabascript:viod(0)"class="btn btn-warning btn-sm">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div><!-- bd -->
  </div><!-- br-section-wrapper -->
</div><!-- br-pagebody -->
</template>

<script>

  export default {
    components:{
    },
    data: function () {
      return {
        quarry: {
          'perpage':'10',
          'type':'',
          'sort':0,
          'date':null,
          'start_date':'',
          'end_date':'',
          'name':'',
        },
        details: {},
        stocks: {},
        loading: true,
        file: '',
        message: '',
        errors: {},
      }
    },
    mounted() {
      this.quarry.start_date =  moment(new Date() ).startOf('month').format('YYYY-MM-DD');
      this.quarry.end_date =  moment(new Date() ).format('YYYY-MM-DD');
      this.loadStocks();
    },
    created() {
      this.$eventBus.$on('reload', (data)=>{
          this.loadStocks();
       });
    },
    beforeDestroy() {
        
    },
    watch: {
        quarry: {
            handler: function () {
                this.loadStocks();
            },
            deep: true
        }
    },

    props:['data'],
    methods:{
      
    loadStocks: function(page = 1){
       axios.get('/admin/assets/stocks/'+ this.data.id+'?page=' + page,{
                        params: this.quarry
            }).then((response) => {
          this.details = response.data.details;
          this.stocks = response.data.data;
        });
    },

    deleteData: function (stock, index) {
       
       this.$swal({
            title: 'Are you sure you want to delete this?',
            text: "If you delete this, it will be gone forever.",
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        })
        .then((result) => {
          if (result.value) {
            if (result.isConfirmed){
              this.deletestock(stock, index);
            }
          }

        });
    },
    deletestock: function (stock, index) {
      this.$eventBus.$emit('loader', true);
        axios.post('/admin/assets/stock-destroy/'+stock.id)
        .then((response) => {
          if (response.status == 202) {
                this.$toaster.success(response.data.data);
                this.$eventBus.$emit('reload');
            }                    
        })
        .catch(error => {
            if (error.response.status ==409) {
                this.$swal({
                  title: 'warning!',
                  text: error.response.data[0],
                  icon: 'warning',
                });
            }else {
                this.ifErrors(error);
            } 
         });
        this.$eventBus.$emit('loader', false);
    },
  }
}
</script>
