<template>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="load-wraper" v-if="isLoading">
            <loader id="loader" :color="'rgb(29 41 57)'" ></loader>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="asset-list-tab" data-toggle="tab" href="#asset-list" role="tab" aria-controls="asset-list" aria-selected="true">Assets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="asset-stock-tab" data-toggle="tab" href="#asset-stock" role="tab" aria-controls="asset-stock" aria-selected="false">Stock</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link bg-info" style="color: #fff;" aria-selected="false"  href="/admin/assets/create">Add New</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="asset-list" role="tabpanel" aria-assetledby="contact-tab">
             <asset-list></asset-list>
          </div>
          <div class="tab-pane fade " id="asset-stock" role="tabpanel" aria-stockledby="asset-stock">
             <asset-stock></asset-stock>
          </div>
        </div>
    </div>
  </div>
</template>


<script>
import { SpinnerLoader } from 'vue-spinners-css';
import assetList from './assetList.vue';
import assetStock from './assetStock.vue';
    export default {
      components:{
            'loader':SpinnerLoader,
            'asset-list':assetList,
            'asset-stock':assetStock,
        },
        data: function () {
            return {
                loading: true,
                isLoading: true,
            }
        },
        watch: {

        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
        },
        mounted() {
            this.isLoading = false;
        },
        methods: {
            
        }
    }
</script>