<template>
   <div class="row  mt-3" v-if="stock">
      <div class="col-6">
         <div class="form-group">
            <label for="" class="form-control-label">Item</label>
            <input type="hidden" v-model="stock.asset_id" required>
            <input class="form-control" type="text" v-model="stock.name" readonly required>
         </div>
      </div>
      <div class="col-2">
         <div class="form-group">
            <label for="" class="form-control-label">Stock Type</label>
            <select name="stock_type" class="form-control" id="type" v-model="stock.stock_type">
                <option value="out">Stock Out</option>
                <option value="in">Stock In</option>
                <option value="weast">Stock Damaged</option>
            </select>
         </div>
      </div>
      <div class="col-4">
         <div class="form-group">
            <label for="" class="form-control-label">Date</label>
            <input class="form-control" type="date" v-model="stock.date" required>
         </div>
      </div>
      <div class="col-3">
         <div class="form-group">
            <label for="" class="form-control-label">Stock </label>
            <input class="form-control" type="number" step="any" v-model="data.quantity" value="0" :max="data.quantity" disabled>
         </div>
      </div>
      <div class="col-3">
         <div class="form-group">
            <label for="" class="form-control-label">Quantety <span v-if="data.unit">({{ data.unit.name }})</span></label>
            <input class="form-control" type="number" step="any" v-model="stock.quantity" value="0" min="0" :max="99999999999999" required>
         </div>
      </div>
      <div class="col-2">
         <div class="form-group mt-4">
            <button type="button" class="btn btn-warning btn-block" @click="clear">Clear</button>
         </div>
      </div>
      <div class="col-2" >
         <div class="form-group mt-4">
            <button  type="button" class="btn btn-info btn-block" @click="storestock">Save</button>
            <!-- <button v-else type="button" class="btn btn-secondary btn-block">Save</button> -->
         </div>
      </div>
   </div>
</template>
<script>
    export default {
      components:{
        },
        data: function () {
            return {
                stock: null,
                data: {},
                isLoading: true,
            }
        },
        watch: {
           stock: {
                handler: function () {
                  
                },
                deep: true
            },
        },
        created() {
          this.$eventBus.$on('asset-stock-tab', (data)=>{
            console.log(data)
            this.data = data.data;
            this.stock = {};
            this.stock.asset_id = data.data.id;
            this.stock.name = data.data.name;
            this.stock.stock_type = null;
            this.stock.quantity = 0;
            this.stock.date = moment(new Date() ).format('YYYY-MM-DD');
         });
        },
        mounted() {
        },
        methods: {
            storestock: function () {  
             this.$eventBus.$emit('loader', true);    
                axios.post('/admin/assets/stock',this.stock).then((response) => {
                    if (response.status == 201) {
                        this.$toaster.success(response.data[0]);
                        $('#asset-list-tab').trigger('click');
                        this.clear();
                    }
                }).catch(error => {
                    console.log(error);
                    if (error.response.status ==409) {
                        this.$swal({
                          title: 'warning!',
                          text: error.response.data[0],
                          icon: 'warning',
                        });
                    }else {
                        this.ifErrors(error);
                    }
                });
                this.$eventBus.$emit('reload');
                this.$eventBus.$emit('loader', false);
            },

            clear: function () {
                this.stock = {};
                this.stock.date =  moment(new Date() ).format('YYYY-MM-DD');
            },
        }
    }
</script>
<style>
    .display-time {
    display: block;
    width: 100% !important;
    height: calc(2.6125rem + 2px) !important;
    padding: 0.65rem 0.75rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.vdatetime-input {
    padding: 8px 10px;
    font-size: 16px;
    border: solid 1px #ddd;
    color: #444;
}
</style>