<template>
  <div class="col-md-12 mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" v-if="categories">
                <v-select :options="categories" :reduce="label => label.code" v-model="quarry.type"></v-select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" v-model.lazy="quarry.name" name="name" class="form-control" placeholder="Asset Name">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <button type="button" class="btn btn-outline-success btn-block" @click="loadassets()">Search</button>
            </div>
        </div>
    </div>
    <div class="bd bd-gray-300 rounded table-responsive">
      <table class="table mg-b-0">
            <thead class="bg-info text-white">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Stock</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody v-if="assets">
          <tr v-for="(asset, index) in assets"  v-bind:id="'data'+asset.id">
              <th scope="row">{{ index+1 }}</th>
              <td>{{ asset.name }}</td>
              <td><span v-if="asset.category">{{ asset.category.name }}</span></td>
              <td>{{ Number(asset.quantity).toFixed(1) }} <small v-if="asset.unit" >{{ asset.unit.name }}</small></td>
              <td><a  href="javascript:viod(0)" @click="assetStockShow(asset)" class="btn btn-primary btn-sm">Stock</a></td>
              <td class="text-center">            
                <div class="btn-group">
                    <a  :href="'/admin/assets/show/'+asset.id"class="btn btn-info btn-sm">View</a>
                    <a  :href="'/admin/assets/edit/'+asset.id"class="btn btn-secondary btn-sm">Edit</a>
                    <a @click.prevent="deleteData(asset,index)" href="jabascript:viod(0)"class="btn btn-warning btn-sm">Delete</a>
                </div>
              </td>
            </tr>
            </tbody>
        </table> 
    </div><!-- bd -->
  </div>
</template>
<script>
    export default {
      components:{

      },
      data: function () {
          return {
              assets: null,
              categories: null,
              quarry: {
                  'perpage':'50',
                  'type':'',
                  'sort':0,
                  'name':'',
              },
          }
      },
      watch: {
          quarry: {
              handler: function () {
                  this.loadassets();
              },
              deep: true
          }
      },
      created() {
        this.$eventBus.$on('reload', (data)=>{
            this.loadassets(this.date);
         });
      },
      mounted() {
        this.loadassets();
        this.loadcategories();
      },
      methods:{
        loadassets: function (argument) {
          this.assets = {};
            this.$eventBus.$emit('loader', true);
              axios.get('/admin/assets/get',{
                    params: this.quarry
                }).then((response) => {
                  if (response.status == 200) {
                      this.assets = response.data.data;
                  }                    
              })
            this.$eventBus.$emit('loader', false);
        },
        loadcategories: function (argument) {
          this.assets = {};
            this.$eventBus.$emit('loader', true);
              axios.get('/admin/asset-categories/get',{
                    status:1
                }).then((response) => {
                  if (response.status == 200) {
                      this.categories = response.data.data;
                  }                    
              })
            this.$eventBus.$emit('loader', false);
        },
        assetStockShow: function (data) {
           $('#asset-stock-tab').trigger('click');
           this.$eventBus.$emit('asset-stock-tab', {'data':data});
        },

        deleteData: function (asset, index) {
           
           this.$swal({
                title: 'Are you sure you want to delete '+asset.name+'?',
                text: "If you delete this, it will be gone forever.",
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            })
            .then((result) => {
              if (result.value) {
                if (result.isConfirmed){
                  this.deleteasset(asset, index);
                }
              }

            });
        },
        deleteasset: function (asset, index) {
          this.$eventBus.$emit('loader', true);
            axios.post('/admin/assets/destroy/'+asset.id)
            .then((response) => {
              if (response.status == 202) {
                    this.$toaster.success(response.data.data);
                    this.$eventBus.$emit('reload');
                }                    
            })
            .catch(error => {
                if (error.response.status ==409) {
                    this.$swal({
                      title: 'warning!',
                      text: error.response.data[0],
                      icon: 'warning',
                    });
                }else {
                    this.ifErrors(error);
                } 
             });
            this.$eventBus.$emit('loader', false);
        },
      },
    }
</script>
