<template>

<div class="br-pagebody m-0 p-0">
    <div class="br-section-wrapper">
        <div class="load-wraper" v-if="isLoading">
            <loader id="loader" :color="'rgb(29 41 57)'" ></loader>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="new-expence-tab" data-toggle="tab" href="#new-expence" role="tab" aria-controls="new-expence" aria-selected="true">Expence By Date</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="expence-this-month-tab" data-toggle="tab" href="#expence-this-month" role="tab" aria-controls="expence-this-month" aria-selected="false">This Month</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="payroll-by-month-tab" data-toggle="tab" href="#payroll-by-month" role="tab" aria-controls="payroll-by-month" aria-selected="false">Expence By Month</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="new-expence" role="tabpanel" aria-labelledby="contact-tab">
             <expence-by-date :types="types"></expence-by-date>
          </div>
          <div class="tab-pane fade " id="expence-this-month" role="tabpanel" aria-labelledby="expence-this-month">
             <expence-this-month :types="types"></expence-this-month>
          </div>
          <div class="tab-pane fade " id="payroll-by-month" role="tabpanel" aria-labelledby="payroll-by-month-tab">
             <expence-by-month :types="types"></expence-by-month>
          </div>
        </div>
    </div>
  </div>
</template>


<script>
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'
import { SpinnerLoader } from 'vue-spinners-css';
import expenceByDate from './expenceByDate'
import expenceThisManth from './expenceThisManth'
import expenceByManth from './expenceByManth.vue'
    export default {
      components:{
            'loader':SpinnerLoader,
            'expence-by-date':expenceByDate,
            'expence-this-month':expenceThisManth,
            'expence-by-month':expenceByManth,
        },
        data: function () {
            return {
                loading: true,
                file: '',
                isLoading: true,
            }
        },
        props: ['types'],
        watch: {

        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
        },
        mounted() {
            this.isLoading = false;
        },
        methods: {
            
        }
    }
</script>