<template>

    <div class="row  mt-3" >
        <div class="col-6">
            <div class="form-group">
                <label for="" class="form-control-label">Staf</label>
                <select v-model="payroll.staff_id" name="staff_id" id="staff_id" class="form-control" @change="loadStaffData()">
                    <option value="">Select Staf</option>

                    <option v-if="staffs" v-for="(staff , index) in staffs" :value="staff.id">{{ staff.name }}</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="" class="form-control-label">Month </label>
                <select name="month" id="month" class="form-control" v-model="month">
                    <option for="">Select Month</option>
                    <option v-for="(month,index) in months" :value="index+1">{{ month }}</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="" class="form-control-label">Year</label>
                <select name="year" id="month" class="form-control" v-model="year">
                    <option for="">Select Year</option>
                    <option v-for="year in years" :value="year">{{ year }}</option>
                </select>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="" class="form-control-label">Working Days</label>
                <input class="form-control" name="allawence" v-model="attendance.working_days" readonly>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="" class="form-control-label">Leave</label>
                <input class="form-control" name="allawence" v-model="attendance.leave_days" readonly>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="" class="form-control-label">Absent</label>
                <input  :class="attendance.absent_days >2 ? ' bg-danger form-control' : ' form-control'" name="allawence" v-model="attendance.absent_days" readonly>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="" class="form-control-label">Present</label>
                <input class="form-control"  name="allawence" :value="attendance.working_days - attendance.absent_days" readonly>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="" class="form-control-label">Basic Salary </label>
                <input class="form-control" name="salary"  v-model="payroll.salary" readonly>
            </div>
        </div>


        <div class="col-2">
            <div class="form-group">
                <label for="" class="form-control-label">Absent Deduction </label>
                <input class="form-control" name="absent_deduction" v-model="payroll.absent_deduction" >
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="" class="form-control-label">Advance Deduction </label>
                <input class="form-control" name="advance_deduction" v-model="payroll.advance_deduction" >
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="" class="form-control-label">Other Deduction </label>
                <input class="form-control" name="other_deduction" v-model="payroll.other_deduction" >
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="" class="form-control-label">Total Deduction </label>
                <input class="form-control" name="deduction" v-model="payroll.total_deduction" readonly>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="" class="form-control-label">Allawence </label>
                <input class="form-control" name="allawence" v-model="payroll.allawence" >
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="" class="form-control-label">Bonus </label>
                <input class="form-control" name="bonus" v-model="payroll.bonus" >
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="" class="form-control-label">Advance </label>
                <input class="form-control" name="advance" v-model="payroll.advance" >
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="" class="form-control-label">Total </label>
                <input class="form-control" name="total" v-model="payroll.total" readonly>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="" class="form-control-label">Total Paid </label>
                <input class="form-control" name="total_paid" v-model="payroll.total_paid" >
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="" class="form-control-label">Due </label>
                <input class="form-control" name="total_paid" v-model="payroll.due" readonly>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="" class="form-control-label">Reason</label>
                <input class="form-control" name="reason" v-model="payroll.reason">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="" class="form-control-label">Description</label>
                <ckeditor v-model="payroll.description"></ckeditor>
            </div>
        </div>
        <!-- <div class="col-4">         
            <div class="form-group">
                <label for=" form-control-label">Select status</label>
                <select name="status" class="form-control" v-model="payroll.status" required>
                    <option value="0">Pending</option>
                    <option value="1">Approve</option>
                    <option value="2">Decline</option>
                </select>
            </div>   
        </div> -->
        <div class="col-4">
            <div class="form-group mt-4">
                <button type="button" class="btn btn-warning btn-block" @click="clear()">Clear</button>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group mt-4">
                <button type="button" class="btn btn-info btn-block" @click="savePayRoll()">Save</button>
            </div>
        </div>
     </div> 
</template>
<script>
    
    export default {
      components:{

        },
        data: function () {
            return {
                payroll:{
                    staff_id:0,
                    salary:0,
                    allawence:0,
                    bonus:0,
                    advance:0,
                    absent_deduction:0,
                    advance_deduction:0,
                    other_deduction:0,
                    total:0,
                    total_paid:0,
                    due:0,
                    description:0,
                    status:0,
                },
                attendance:{
                    working_days:0,
                    leave_days:0,
                    absent_days:0,
                },
                staffs: {},
                years: [],
                year: null,
                month: null,
                months: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                
            }
        },

        watch: {
           payroll: {
                handler: function () {
                    this.calculateTotal();
                },
                deep: true
            },
           month: {
                handler: function () {
                    this.loadStaffAttendances();
                },
                deep: true
            },
           year: {
                handler: function () {
                    this.loadStaffAttendances();
                },
                deep: true
            },
        },  
        mounted() {
            this.years = this.getYears();
            this.month =  moment(new Date() ).format('MM')-1;
            this.year =  new Date().getFullYear();
            this.loadStaff();
        },
        methods: {            
            getYears: function() {
              const year = new Date().getFullYear()
              return Array.from({length: year - 1900}, (value, index) => year - index)
            },

            calculateTotal: function() {
                var salary = this.payroll.salary;
                var allawence = this.payroll.allawence;
                var bonus = this.payroll.bonus;
                var advance = this.payroll.advance;
                var absent_deduction = this.payroll.absent_deduction;
                var advance_deduction = this.payroll.advance_deduction;
                var other_deduction = this.payroll.other_deduction;
                var total_deduction = Number(absent_deduction) + Number(advance_deduction)+ Number(other_deduction);
                var total = Number(salary) + Number(allawence) + Number(bonus) + Number(advance) - Number(total_deduction);
                this.payroll.total = total;
                this.payroll.due = this.payroll.total - this.payroll.total_paid;
                return this.payroll.total;
            },

            loadStaff: function (page = null) {  
             this.$eventBus.$emit('loader', true);    
                axios.get('/admin/staff/get?page=' + page+'&status=1').then((response) => {
                    this.$eventBus.$emit('loader', false);
                    if (response.status == 200) {
                        this.staffs = response.data;
                    }                    
                })                
            },

            loadStaffData: function () {  
             this.$eventBus.$emit('loader', true);    
                axios.get('/admin/staff/getitem/' + this.payroll.staff_id).then((response) => {
                    if (response.status == 200) {
                        this.payroll.staff_id = response.data.id;
                        this.payroll.salary = response.data.salary;
                        this.calculateTotal();
                    }
                })
                this.$eventBus.$emit('loader', false);
                this.loadStaffAttendances();
            },
            loadStaffAttendances: function () {
                this.$eventBus.$emit('loader', true);    
                axios.get('/admin/staff/getattendance'+'?staff_id='+this.payroll.staff_id+'&month='+this.month+'&year='+this.year).then((response) => {
                    if (response.status == 200) {
                        this.attendance.working_days =  response.data.working_days;
                        this.attendance.leave_days =  response.data.leave_days;
                        this.attendance.absent_days =  response.data.absent_days;
                    }                    
                })
                this.$eventBus.$emit('loader', false);
            },
            savePayRoll: function () {
                this.$eventBus.$emit('loader', true);
                this.payroll.date = this.year+'-'+this.month+'-01';
                this.payroll.basic_salary = this.payroll.salary;
                axios.post('/admin/payrolls/store',this.payroll).then((response) => {
                    console.log(response.data)
                    if (response.status == 201) {
                        this.$toaster.success(response.data[0]);
                        this.clear();
                    }                    
                }).catch(error => {
                    console.log(error);
                    if (error.response.status ==409) {
                         this.clear();
                        this.$swal({
                          title: 'warning!',
                          text: error.response.data[0],
                          icon: 'warning',
                        });
                    }else {
                        this.ifErrors(error)
                    }
                });
                this.$eventBus.$emit('loader', false);
            },
            clear: function () {
                this.payroll= {
                        staff_id:0,
                        salary:0,
                        allawence:0,
                        bonus:0,
                        advance:0,
                        absent_deduction:0,
                        advance_deduction:0,
                        other_deduction:0,
                        total:0,
                        total_paid:0,
                        due:0,
                        description:0,
                        status:0,
                    };

                this.attendance = {
                    working_days:0,
                    leave_days:0,
                    absent_days:0,
                };
            },
        }
    }
</script>