<template>

<div class="row">
  <div class="col-md-4 offset-md-3">
    <div class="form-group">
      <label class="form-control-label">Date</label>
      <input type="month" class="form-control" v-model="date">
    </div>
  </div><payroll-table :payrolls="payrolls"></payroll-table>
</div>
</template>


<script>
  import PayrollTable from './PayrollTable'
    export default {
      components:{'payroll-table':PayrollTable},
        data: function () {
            return {
                date: {},
                payrolls: {},
            }
        },
        watch: {
           date: {
                handler: function () {
                  this.loadpayroll(this.date);
                },
                deep: true
            },
        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
          this.$eventBus.$on('reload', (data)=>{
            this.loadpayroll(this.date);
         });
        },
        mounted() {
          var d = new Date();
            d.setMonth(d.getMonth() - 1);
            this.date = moment(d).format('YYYY-MM');
            this.loadpayroll(this.date);
        },
        methods: {
            loadpayroll: function (date) {
              this.payrolls = {};
              this.$eventBus.$emit('loader', true);
                axios.get('/admin/payrolls/get?date=' + date+'&type=month').then((response) => {
                    if (response.status == 200) {
                        this.payrolls = response.data;
                    }                    
                })
              this.$eventBus.$emit('loader', false);
            },
        }
    }
</script>