<template>
  <div class="col-md-12">
    <div class="bd bd-gray-300 rounded table-responsive">
      <table class="table mg-b-0">
            <thead class="bg-info text-white">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Basic_salary</th>
                <th>Total_paid</th>
                <!-- <th>Status</th> -->
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
          <tr v-for="(payroll, index) in payrolls"  v-bind:id="'data'+payroll.id">
              <th scope="row">{{ index+1 }}</th>
              <td>{{ payroll.staff.name }}</td>
                <!-- <td>{{ Number(payroll.advance_deduction + payroll.absent_deduction +  payroll.other_deduction ,2)  }}</td> -->
                <td>{{ payroll.basic_salary }}</td>
                <td>{{ payroll.total_paid }}</td>
              <!-- <td>
                  <a v-if="payroll.status ==1" href="javascript:viod(0)" @click="changeStatusOpen(payroll)"  class="btn btn-success btn-sm ml-2">Approved</a>
                  <a v-if="payroll.status ==0||payroll.status ==null" href="javascript:viod(0)" @click="changeStatusOpen(payroll)"  class="btn btn-warning btn-sm ml-2">Panding</a>
                  <a v-if="payroll.status ==2" href="javascript:viod(0)" @click="changeStatusOpen(payroll)"  class="btn btn-danger btn-sm ml-2">Declined</a>
              </td> -->
                <td class="text-center">            
                  <div class="btn-group">
                      <!-- <a  :href="'/admin/payrolls/edit/'+payroll.id"class="btn btn-info btn-sm">Edit</a> -->
                      <a v-if="payroll.status ==0||payroll.status ==null||payroll.status ==2 || $role == 'super-admin' "  href="javascript:viod(0)" @click="deleteData(payroll,index)" class="btn btn-warning btn-sm">Delete</a>
                  </div>
                  </td>
                  </tr>
            </tbody>
        </table> 

        <div class="modal" tabindex="-1" role="dialog" id="change-status">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form @submit.prevent="statusSave()">
            <div class="modal-header">
              <h5 class="modal-title">Change Status</h5>
              <button type="button" class="close" @click="changeStatusClose()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <select v-model="status" name="status" id="status" class="form-control">
                <option value="0">Panding</option>
                <option value="1">Approved</option>
                <option value="2">Declined</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
              <button type="button" @click="changeStatusClose()" class="btn btn-secondary">Close</button>
            </div>
              
            </form>
          </div>
        </div>
      </div>
    </div><!-- bd -->
  </div>
</template>


<script>
    export default {
      components:{},
        mounted() {

        },
        props: ['payrolls'],
        data: function () {
            return {
                status: null,
                data: null,
            }
        },

        methods:{

            changeStatusOpen: function (data, index) {
              if(this.$role == 'super-admin'){
                this.status = data.status;
                this.data = data;
                $('#change-status').modal();
              }               
             },
            changeStatusClose: function () {
               if(this.$role == 'super-admin'){
                 this.status = null; 
                 this.data = null; 
                 $('#change-status').modal('hide');
               }
             },
            statusSave: function () {
               if(this.$role == 'super-admin'){
                 axios.post('/admin/payrolls/status/'+this.data.id,{
                  'status':this.status
                 })
                .then((response) => {                  
                  if (response.status == 202) {
                     this.status = null; 
                     this.data = null; 
                      this.$toaster.success(response.data.message)
                      this.$eventBus.$emit('reload');
                      $('#change-status').modal('hide');  
                  }else {
                    this.$toaster.warning(response.data)  
                  }
                    
                })
               }
             },

          deleteData: function (payroll, index) {
             
             this.$swal({
                  title: 'Are you sure you want to delete '+payroll.name+'?',
                  text: "If you delete this, it will be gone forever.",
                  showCancelButton: true,
                  confirmButtonText: 'Yes, delete it!',
                  cancelButtonText: 'No, cancel!',
                  reverseButtons: true
              })
              .then((result) => {
                if (result.value) {
                  if (result.isConfirmed){
                    this.deletepayroll(payroll, index);
                  }
                }

              });
          },

          deletepayroll: function (payroll, index) {
              this.$eventBus.$emit('loader', false);
              axios.post('/admin/payrolls/destroy/'+payroll.id)
              .then((response) => {
                if (response.status == 201) {
                    this.$toaster.success(response.data[0]);
                    this.$eventBus.$emit('reload');
                }
                  
              })
              .catch(error => {
                if (error.response.status ==409) {
                    this.$swal({
                      title: 'warning!',
                      text: error.response.data[0],
                      icon: 'warning',
                    });
                }else {
                    this.ifErrors(error)
                }
               
             });
            this.$eventBus.$emit('reload');
            this.$eventBus.$emit('loader', false);
          },
      }
    }
</script>