<template>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="load-wraper" v-if="isLoading">
            <loader id="loader" :color="'rgb(29 41 57)'" ></loader>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="new-payroll-tab" data-toggle="tab" href="#new-payroll" role="tab" aria-controls="new-payroll" aria-selected="true">New Payroll</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="payroll-this-month-tab" data-toggle="tab" href="#payroll-this-month" role="tab" aria-controls="payroll-this-month" aria-selected="false">This Month</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="payroll-by-month-tab" data-toggle="tab" href="#payroll-by-month" role="tab" aria-controls="payroll-by-month" aria-selected="false">Payroll By Month</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="new-payroll" role="tabpanel" aria-labelledby="contact-tab">
             <newpayroll></newpayroll>
          </div>
          <div class="tab-pane fade " id="payroll-this-month" role="tabpanel" aria-labelledby="payroll-this-month">
             <payroll-this-month></payroll-this-month>
          </div>
          <div class="tab-pane fade " id="payroll-by-month" role="tabpanel" aria-labelledby="payroll-by-month-tab">
             <payroll-by-month></payroll-by-month>
          </div>
        </div>
    </div>
  </div>
</template>


<script>
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'
import { SpinnerLoader } from 'vue-spinners-css';
import newpayroll from './NewPayroll.vue'
import payrollByManth from './PayrollByManth'
import payrollThisManth from './PayrollThisManth'
    export default {
      components:{
            'loader':SpinnerLoader,
            newpayroll,
            'payroll-by-month':payrollByManth,
            'payroll-this-month':payrollThisManth,
        },
        data: function () {
            return {
                loading: true,
                file: '',
                isLoading: true,
            }
        },
        watch: {

        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
        },
        mounted() {
            this.isLoading = false;
        },
        methods: {
            
        }
    }
</script>