<template>
<div class="row">
  <payroll-table :payrolls="payrolls"></payroll-table>
</div>
</template>


<script>
  import PayrollTable from './PayrollTable'
    export default {
      components:{'payroll-table':PayrollTable},
        data: function () {
            return {
                date: {},
                payrolls: {},
            }
        },
        watch: {
           date: {
                handler: function () {
                  this.loadpayroll(this.date);
                },
                deep: true
            },
        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
          this.$eventBus.$on('reload', (data)=>{
            this.loadpayroll(this.date);
         });
        },
        mounted() {
            this.date = moment(new Date() ).format('YYYY-MM-DD');
            this.loadpayroll(this.date);
        },
        methods: {
            loadpayroll: function (date) {
              this.payrolls = {};
              this.$eventBus.$emit('loader', true);
                axios.get('/admin/payrolls/get').then((response) => {
                    if (response.status == 200) {
                        this.payrolls = response.data;
                    }
                })
              this.$eventBus.$emit('loader', false);
            },
        }
    }
</script>