<template>

<div class="br-pagebody m-0 p-0">
    <div class="br-section-wrapper">
        <div class="load-wraper" v-if="isLoading">
            <loader id="loader" :color="'rgb(29 41 57)'" ></loader>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="new-product-tab" data-toggle="tab" href="#new-product" role="tab" aria-controls="new-product" aria-selected="true">By Date</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="product-this-month-tab" data-toggle="tab" href="#product-this-month" role="tab" aria-controls="product-this-month" aria-selected="false">This Month</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="payroll-by-month-tab" data-toggle="tab" href="#payroll-by-month" role="tab" aria-controls="payroll-by-month" aria-selected="false">By Month</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="new-product" role="tabpanel" aria-labelledby="contact-tab">
             <product-by-date :types="types"></product-by-date>
          </div>
          <div class="tab-pane fade " id="product-this-month" role="tabpanel" aria-labelledby="product-this-month">
             <product-this-month :types="types"></product-this-month>
          </div>
          <div class="tab-pane fade " id="payroll-by-month" role="tabpanel" aria-labelledby="payroll-by-month-tab">
             <product-by-month :types="types"></product-by-month>
          </div>
        </div>
    </div>
  </div>
</template>


<script>
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'
import { SpinnerLoader } from 'vue-spinners-css';
import productByDate from './productByDate'
import productThisManth from './productThisManth'
import productByManth from './productByManth.vue'
    export default {
      components:{
            'loader':SpinnerLoader,
            'product-by-date':productByDate,
            'product-this-month':productThisManth,
            'product-by-month':productByManth,
        },
        props:['types'],
        data: function () {
            return {
                loading: true,
                file: '',
                isLoading: true,
            }
        },
        watch: {

        },
        created() {
          this.$eventBus.$on('loader', (data)=>{
            this.isLoading = data;
         });
        },
        mounted() {
            this.isLoading = false;
        },
        methods: {
            
        }
    }
</script>