<template>  
  
      <div  class="table-wrapper">
        <table class="table display responsive nowrap datatable">
              <thead>
                <tr>
                  <th class="text-center">Sl</th>
                  <th class="text-center">Image</th>
                  <th class="text-left">Product</th>
                  <th class="text-center">Order</th>
                  <th class="text-center">Quantity</th>
                </tr>
              </thead>
              <tbody>
                
                <tr v-for="(product , index) in products" :id="'data'+product.id">
                  <th scope="row">{{ index +1 }}</th>
                  <th ><img :src="product.image" width="60" class="img-thumbnail" alt=""></th>
                  <th class="text-left">{{ product.name }}</th>
                  <th class="text-center">{{ product.count }}</th>
                  <th class="text-center">{{ product.quantity }}</th>
                </tr>
              </tbody>
            </table>
      </div>
</template>


<script>
    export default {
      components:{},
        mounted() {

        },
        props: ['products'],
        mounted() {
             
        },

        methods:{
          
      }
    }
</script>