<template>  
    <div class="br-pagebody m-0 p-0">
        <div class="br-section-wrapper ">
            <div class="row m-0 p-0">
                <div class="col-6">
                    <h6 class="br-section-label">products</h6>
                </div>
                <div class="col-6">                    
                </div>
            </div>          
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <select  v-model="quarry.category_id" name="types" id="types" class="form-control">
                            <option value="">All</option>
                            <option v-for="(type,index) in types" :value="type.id" class="text-uppercase">{{ type.name.toUpperCase() }}</option>
                        </select>
                        <span class="text-muted">Type</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="date" class="form-control" name="start_date" v-model="quarry.start_date">
                        <span class="text-muted">Start Date</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="date" class="form-control" name="end_date" v-model="quarry.end_date">
                        <span class="text-muted">End Date</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" v-model.lazy="quarry.name" name="name" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-success btn-block" @click="loadproducts()">Search</button>
                    </div>
                </div>
                <div class="col-sm-2">
                    <b>Total Item : {{ details.item_count }}</b><br>
                </div>
            </div>
            <product-table :products="products" ></product-table>
        </div>
    </div>
</template>

<script>

    import productTable from './productTable';
    export default {
        components:{
            'product-table':productTable,
        },
        props:['types'],
        data: function () {
            return {
                quarry: {
                    'perpage':'50',
                    'status':'',
                    'sort':1,
                    'category_id':'',
                    'start_date':null,
                    'end_date':null,
                    'name':'',
                },
                details: {},
                products: {},
                loading: true,
            }
        },
        mounted() {
            this.quarry.start_date =  moment(new Date() ).format('YYYY-MM-DD');
            this.quarry.end_date =  moment(new Date() ).format('YYYY-MM-DD');
            this.loadproducts();
        },
        created() {

        },
        beforeDestroy() {

        },
        watch: {
            quarry: {
                handler: function () {
                    this.loadproducts();
                },
                deep: true
            }
        },
        methods:{
            
            loadproducts: function(page = 1){
                axios.get('/admin/reports/products/get?page=' + page,{
                    params: this.quarry
                }).then((response) => {
                    this.details = response.data.details;
                    this.products = response.data.data;
                });
            },
        }
    }
</script>